@charset "utf-8";
.aa {
	border: 1px deepskyblue solid;
	box-sizing: border-box;
}
.bb {
	border: 1px red solid;
	box-sizing: border-box;
}
.cc {
	border: 1px green solid;
	box-sizing: border-box;
}
.container {
	overflow: hidden;
}
.evt-nav-bg {
	padding: 0 15px 20px;
	background-color: #fff;
}
.evt-nav {
	height: 127px;
	background: #fff url(../images/img110/top-bg.png) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
	box-shadow: 6px 7px 24px 0px rgba(61, 147, 242, 0.54);
	border-radius: 0px 0px 8px 8px;
}
.evt-nav-list {
	margin: 10px;
}
.evt-nav-list>li {
	float: left;
	width: 25%;
	box-sizing: border-box;
}
.evt-nav-list>li>a {
	padding-top: 15px;
	display: block;
}
.evt-nav-list>li>a>p {
	font-size: 1.4rem;
	line-height: 1;
	color: #fff;
	margin-top: 12px;
	text-align: center;
}
.icon-nav {
	display: block;
	margin: 0 auto;
	width: 50px;
	height: 50px;
	/* background-color: #ccc; */
	border-radius: 50%;
}
.icon-nav-red {
	background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#ff8e82), to(#ff6666));
	background-image: -webkit-linear-gradient(#ff8e82 0%, #ff6666 100%);
	background-image: -moz-linear-gradient(#ff8e82 0%, #ff6666 100%);
	background-image: -o-linear-gradient(#ff8e82 0%, #ff6666 100%);
	background-image: linear-gradient(0deg, #ff8e82 0%, #ff6666 100%), linear-gradient( #e6e6e6, #e6e6e6);
}
.icon-nav-blue {
	background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#7dafff), to(#66a1ff));
	background-image: -webkit-linear-gradient(#7dafff 0%, #66a1ff 100%);
	background-image: -moz-linear-gradient(#7dafff 0%, #66a1ff 100%);
	background-image: -o-linear-gradient(#7dafff 0%, #66a1ff 100%);
	background-image: linear-gradient(0deg, #7dafff 0%, #66a1ff 100%), linear-gradient( #e6e6e6, #e6e6e6);
}
.icon-nav-green {
	background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#b3d54a), to(#9abc31));
	background-image: -webkit-linear-gradient(#b3d54a 0%, #9abc31 100%);
	background-image: -moz-linear-gradient(#b3d54a 0%, #9abc31 100%);
	background-image: -o-linear-gradient(#b3d54a 0%, #9abc31 100%);
	background-image: linear-gradient(0deg, #b3d54a 0%, #9abc31 100%), linear-gradient( #e6e6e6, #e6e6e6);
}
.icon-nav>img {
	width: 100%;
}
.h-01 {
	height: 1px;
	background-color: #ebebeb;
}
.content {
	padding-left: 15px;
	background-color: #fff;
	margin-bottom: 10px;
}
.content-hd {
	height: 40px;
}
.content-hd>h1 {
	font-size: 1.8rem;
	color: #333333;
	font-weight: 600;
}
.content-more {
	display: block;
	padding-right: 12px;
	height: 13px;
	line-height: 13px;
	margin-right: 15px;
	font-size: 1.2rem;
	color: #999;
	background: url(../images/img110/right_icon.png) no-repeat right -1px;
	background-size: 8px 13px;
}
.content-art {
	/* padding: 10px 0px 10px 0px; */
	display: -webkit-flex;
	display: flex;
}
.content-art-border {
	padding-bottom: 15px;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 15px;
}
.content-new {
	border-bottom: 1px solid #ebebeb;
	margin-right: 15px;
	padding-bottom: 10px;
}
.content-new:last-child {
	border-bottom: none;
}
.content-art+.content-art {
	margin-top: 2px;
}
.content-art-new {
	display: block;
	width: 32px;
	height: 16px;
	line-height: 16px;
	background-color: #fa6245;
	box-shadow: 2px 2px 3px 0px rgba(255, 74, 38, 0.3);
	border-radius: 2px;
	/* height: 22px;
	width: 37px;
	line-height: 20px; */
	text-align: center;
	padding: 0 3px;
	/* background: url('../images/img110/NEW.png') no-repeat;
	background-size:100% 100%;  */
	font-size: 1rem;
	color: #ffffff;
	margin-right: 7px;
	margin-top: 3px;
	position: relative;
}
.content-art-new>i {
	position: absolute;
	right: -4px;
	top: 5px;
	width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid #fa6245;
}
.content-art-pic {
	width: 113px;
	height: 75px;
	height: unset;
	margin-left: 15px;
	border-radius: 4px;
	overflow: hidden;
}
.content-art-pic>i {
	position: relative;
	display: block;
	padding-top: 75%;
	background-color: #ccc;
}
.content-art-pic>i>img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.content-bd {
	margin-right: 15px;
}
.content-arti {
	-webkit-flex: 1;
	flex: 1;
	width: 0px;
}
.pt8 {
	padding-top: 8px;
}
.content-arti>h2 {
	width: 100%;
	font-size: 1.7rem;
	color: #333333;
	line-height: 1.5;
	/*font-weight: 600;*/
}
.line-1 {
	line-height: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.line-2 {
	line-height: 1.5;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
}
.content-arti-ft {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
}
.content-arti-ft>b {
	font-size: 1.2rem;
	line-height: 1.5;
	color: #999;
}
.content-arti-ft>b>em {
	margin: 0 5px;
	font-size: 1.6rem;
	font-weight: 600;
}
.content-arti-ft>span {
	font-size: 1.2rem;
	line-height: 18px;
	color: #fff;
	height: 18px;
	background-color: #82b2ff;
	font-weight: bold;
	padding: 0px 5px;
}
.line-2+.content-arti-ft {
	margin-top: 2px;
}
/* 暂无数据 */
.content-none {
	padding: 12px 0px 20px;
	margin-right: 15px;
}
div[class^="data-none-"] {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin: 0px auto;
}
.data-none-msg {
	background: url(../images/icon-data-none-msg.png) no-repeat;
	background-size: 100%;
}
.data-none-news {
	background: url(../images/icon-data-none-news.png) no-repeat;
	background-size: 100%;
}
.data-none-kownledge {
	background: url(../images/icon-data-none-kownledge.png) no-repeat;
	background-size: 100%;
}
.data-none-text {
	font-size: .13rem;
	line-height: 1;
	color: #b2b2b2;
	text-align: center;
	margin-top: 12px;
}
/*菜单*/
/*.menu-bar{
	position: fixed;
	min-width: 320px;
	max-width: 1024px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	height: 49px;
	background-color: #fff;
}
.menu-bar ul {
    max-width: 1024px;
    height: 49px;
    margin: 0px auto;
    display: flex;
    flex-flow: row wrap;
    box-shadow: 0px -2px 4px 3px rgba(61, 147, 242, 0.1);
    background-color: #fff;
}
.menu-bar ul li{
	width: 33.33%;
}
.menu-bar ul li a:before,
.menu-bar ul li a:after{
	display: table;
	content: "";
}
.menu-bar ul li a:after{
	clear: both;
}
.menu-bar ul li a {
    display: block;
    height: 100%;
    text-align: center;
    position: relative;
}
.menu-bar ul li a p {
    font-size: 1rem;
    color: #666;
    margin-top: 2px;
}
.menu-bar ul li a i {
    display: block;
    width: 27px;
    height: 27px;
    margin: 3px auto 0px;
}
.footer-1 {
    background: url(../images/img110/app-icon-shouye02.png) center center no-repeat;
    background-size: 27px;
}
.footer-2 {
	position: relative;
}
.footer-3 {
	position: relative;
    background: url(../images/icon-nav-my1.png) center center no-repeat;
    background-size: 27px;
}
.current .footer-1 {
    background: url(../images/img110/app-icon-shouye.png) center center no-repeat;
    background-size: 27px;
}
.current .footer-3 {
    background: url(../images/img110/app-icon-renyuan02.png) center center no-repeat;
    background-size: 26px;
}
.menu-bar ul .current a p {
    color: #459ff5;
}
.menu-add {
    position: absolute;
    width: 54px;
    height: 54px;
    top: -30.5px;
    left: -12.5px;
    background-image: -webkit-linear-gradient(45deg, #5dc2fd 32%, #3d93f2 100%);
    background-image: linear-gradient(45deg, #5dc2fd 32%, #3d93f2 100%), linear-gradient( #ffffff, #ffffff);
	border-radius: 50%;
	box-shadow: 3px 4px 8px 0px	rgba(61, 147, 242, 0.3);
	line-height: 54px;
    text-align: center;
    font-size: 0;
}
.menu-add>img {
    width: 20px;
    vertical-align: middle;
}*/
/*事件上报*/
.idx-login-mask {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, .2);
	width: 100%;
	height: 100%;
}
.idx-login {
	position: absolute;
	display: block;
	top: 18px;
	right: 22px;
	text-align: center;
}
.idx-login>img {
	width: 39px;
	height: 39px;
}
.idx-login>p {
	font-size: 14px;
	line-height: 1.5;
	color: #ffffff;
	text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
}
.section-idx {
	position: relative;
	z-index: 20;
	overflow: hidden;
}
.section-idx-top {
	top: 190px;
	padding-bottom: 58px;
}
.event-title-input {
	box-sizing: border-box;
	width: 100%;
	height: 44px;
	font-size: 1.4rem;
	padding: 0px 20px 0px 15px;
	color: #333;
	background-color: #fff;
	-webkit-appearance: none;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
.area-idx {
	position: static;
	z-index: 30;
	background-color: #fff;
	width: 100%;
	height: 44px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.area-idx>li {
	position: relative;
	-webkit-flex: 1;
	flex: 1;
	height: 44px;
	text-align: center;
	line-height: 44px;
}
.area-idx>li:first-child::before {
	content: "";
	position: absolute;
	width: 1px;
	height: 25px;
	top: 10px;
	right: 0px;
	font-size: 15px;
	color: #808080;
	background-color: #e5e5e5;
}
.area-idx>.area-idx-active {
	color: #fa434d;
}
.idx-dyn {
	padding: 15px 0px;
	margin: 0px 15px;
}
.section-idx>.idx-dyn:last-child {
	border-bottom: none;
}
.idx-dyn-hd {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
	margin: 0px 12px;
}
.idx-dyn-hd>a {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}
.idx-dyn-hd>a>span {
	display: block;
	width: 36px;
	height: 36px;
	border-radius: 100%;
	margin-right: 15px;
}
.idx-dyn-hd>a>span>img {
	width: 100%;
	height: 100%;
}
.idx-dyn-hd>i>em {
	font-size: 1.3rem;
	color: #999999;
	margin-left: 12px;
}
.idx-dyn-con {
	position: relative;
	font-size: 1.6rem;
	line-height: 1.5;
	color: #333333;
	height: 44px;
	overflow: hidden;
	margin: 20px 0px 0px;
}
.evt-dyn-detail {
	height: auto;
}
.idx-dyn-con-ov {
	display: block;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.idx-dyn-all {
	width: 100%;
	line-height: 22px;
	background-color: #fff;
	color: #00a0e9;
	font-size: 14px;
	display: none;
	padding-left: 12px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.idx-dyn-pic {
	position: relative;
	overflow: hidden;
	margin: 0px 15px 15px 0px;
}
.idx-dyn-pic>li {
	float: left;
	position: relative;
	width: -webkit-calc(100%/3 - 4px);
	width: calc(100%/3 - 4px);
	height: 80px;
	margin-bottom: 6px;
	background-color: #eeeeee;
	overflow: hidden;
}
.idx-dyn-pic>li:nth-child(3n+2) {
	margin-right: 6px;
	margin-left: 6px;
}
.idx-dyn-pic>li>a {
	display: block;
	width: 100%;
	height: 100%;
}
.idx-dyn-pic>li>img {
	width: 100%;
	height: 100%;
}
.idx-dyn-pic>li>i {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 25px;
	height: 25px;
	background: rgba(0, 0, 0, 0.3) url(../images/icon-close1.png) no-repeat center;
	background-size: 12px 12px;
	margin-left: 35px;
	margin-right: 0px;
	border-radius: 4px;
	display: block;
}
.idx-dyn-pic2>li {
	float: left;
	position: relative;
	width: -webkit-calc(50% - 4px);
	width: calc(50% - 4px);
	height: 80px;
	margin-bottom: 6px;
	background-color: #f2f2f2;
	overflow: hidden;
}
.idx-dyn-pic2>li:nth-child(2) {
	margin-left: 8px;
	margin-right: 0px;
}
.idx-dyn-pic3>li {
	float: left;
	position: relative;
	width: 100%;
	height: 80px;
	margin-bottom: 6px;
	background-color: #f2f2f2;
	overflow: hidden;
}
.idx-dyn-pic3>li P {
	text-align: center;
	padding-top: 5px;
}
.evt-det-sta>p {
	font-size: 1.6rem;
	line-height: 20px;
	color: #333333;
	margin-right: 20px;
	float: left;
}
.evt-det-sta>span {
	display: block;
	height: 20px;
	line-height: 20px;
	padding: 0px 9px;
	font-size: 1.2rem;
	color: #fff;
	border-radius: 10px;
	float: left;
}
.evt-bg-orange {
	background-color: #ffa64c;
}
.evt-det-date {
	display: block;
	line-height: 20px;
	font-size: 1.4rem;
	color: #999999;
}
.evt-det-lab {
	font-size: 1.4rem;
	line-height: 1;
	color: #e65f50;
	margin-top: 5px;
}
.idx-dyn-pos {
	display: block;
	width: auto;
	background: url(../images/icon-rep-pos.png) no-repeat left 3px;
	padding-left: 20px;
	background-size: 12px auto;
	font-size: 14px;
	line-height: 1.5;
	color: #ff6666;
	margin-top: 3px;
}
.idx-nav {
	position: fixed;
	max-width: 1024px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	z-index: 30;
	display: -webkit-flex;
	display: flex;
	width: 100%;
	height: 49px;
	background-color: #fff;
	-webkit-box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.2);
}
.idx-nav>a {
	display: -webkit-flex;
	display: flex;
	-webkit-flex: 1;
	flex: 1;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-flex-direction: column;
	flex-direction: column;
	height: 49px;
}
.idx-nav>a>i {
	display: block;
	width: 24px;
	height: 22.5px;
	text-align: center;
}
.idx-nav>a>i>img {
	width: 100%;
}
.idx-nav>a>em {
	font-size: 11px;
	line-height: 1.5;
	color: #999999;
}
.idx-nav>a:first-child>i {
	margin-right: 10px;
}
.idx-nav>a:first-child>em {
	margin-right: 10px;
}
.idx-nav>a:nth-child(2)>i {
	margin-left: 10px;
}
.idx-nav>a:nth-child(2)>em {
	margin-left: 10px;
}
.idx-nav>.idx-nav-on>em {
	color: #fa434d;
}
.idx-nav-add {
	position: absolute;
	left: 50%;
	margin-left: -22.5px;
	top: -10px;
	width: 45px;
	height: 45px;
	background-image: -webkit-linear-gradient(45deg, #f33f3a 32%, #f78a3b 100%);
	background-image: linear-gradient(45deg, #f33f3a 32%, #f78a3b 100%), linear-gradient( #ffffff, #ffffff);
	-webkit-box-shadow: 0px 3px 6px 0px rgba(250, 67, 77, 0.5), 0px -1px 10px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 3px 6px 0px rgba(250, 67, 77, 0.5), 0px -1px 10px 0px rgba(0, 0, 0, 0.2);
	border-radius: 100%;
	text-align: center;
	line-height: 45px;
}
.idx-nav-add>img {
	width: 20px;
	vertical-align: -4px;
}
.idx-layer {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 40;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	display: none;
}
div[class^="idx-layer-"] {
	position: relative;
	height: 100%;
	display: none;
}
div[class^="idx-layer-"]>img {
	position: absolute;
	width: 100%;
	bottom: 0px;
	left: 0px;
}
.idx-layer>.idx-layer-on {
	display: block;
}
/*events-my.html*/
.event-add {
	height: 80px;
	border-bottom: 2px #f0f0f0 solid;
}
.event-add>p {
	font-size: 18px;
	color: #4d4d4d;
	margin: 0px 18px 0px 20px;
}
.event-add>a {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	border: solid 1px rgba(204, 204, 204, 0.5);
	box-shadow: 0px 1px 5px 0px rgba(102, 102, 102, 0.15);
}
.event-add>a>img {
	width: 18px;
}
.evt-handle {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}
.evt-handle>em {
	font-size: 16px;
	color: #4d4d4d;
	line-height: 1;
}
.evt-handle>i {
	font-size: 12px;
	color: #ffffff;
	line-height: 20px;
	padding: 0px 10px;
	border-radius: 10px;
	margin-left: 15px;
}
.handling {
	background-color: #3a9ce1;
}
.handled {
	background-color: #86c193;
}
.unexamine {
	background-color: #f29b76;
}
.back {
	background-color: #c5c5c5;
}
/*events-detail.html*/
.evt-per {
	width: 100%;
	margin-left: 15px;
}
.evt-per-pic {
	width: 44px;
	height: 44px;
	border-radius: 100%;
	overflow: hidden;
	margin-right: 15px;
}
.evt-per-pic>img {
	width: 100%;
	height: 100%;
}
.evt-per-con>p {
	font-size: 15px;
	color: #4d4d4d;
}
.evt-per-con>i>em {
	font-size: 13px;
	color: #999999;
	margin-right: 10px;
}
.evt-examine {
	height: 100%;
}
.evt-examine>em {
	display: block;
	float: right;
	margin-right: 15px;
	padding: 0px 16px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	color: #ffffff;
	border-radius: 10px;
}
.evt-exa-bh {
	background-color: #bfbfbf;
}
.evt-exa-dsh {
	background-color: #f29b76;
}
.evt-exa-clz {
	background-color: #3a9ce1;
}
.evt-exa-ycl {
	background-color: #86c193;
}
.evt-exam {
	font-size: 12px;
	line-height: 1;
	color: #4d4d4d;
	margin: 0px 0px 8px 15px;
}
.evt-dyn>.idx-dyn-con {
	margin-top: 0px;
}
.evt-des {
	height: 44px;
	line-height: 44px;
	padding-left: 15px;
	font-size: 15px;
	color: #4d4d4d;
	border: rgba(0, 0, 0, 0.05) solid;
	border-width: .5px 0px 1px 0px;
}
.evt-comp {
	border-bottom: none;
	height: 75px;
	margin-top: 8px;
}
.evt-comp .evt-per-pic {
	width: 35px;
	height: 35px;
}
.evt-comp .evt-per-con>p {
	font-size: 13px;
	color: #4d4d4d;
	line-height: 1;
	margin-top: 6px;
}
.evt-comp .evt-per-con>i>em {
	font-size: 12px;
	letter-spacing: 0px;
	color: #808080;
	margin-right: 10px;
}
.evt-handle-view {
	min-height: 55px;
	margin: 0px 15px 30px 15px;
	border: #ffd5d0 solid 1px;
}
.evt-handle-view>p {
	padding: 10px;
	font-size: 12px;
	line-height: 1.5;
	color: #333;
}
.p-t-44 {
	padding-top: 44px;
}
.area-evt {
	position: fixed;
	top: 0px;
	width: 100%;
}
.evt-all-handle {
	width: 100%;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.evt-all-dyn {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}
.evt-all-dyn-pic {
	width: 36px;
	height: 36px;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 15px;
}
.evt-all-dyn-pic>img {
	width: 100%;
	height: 100%;
}
.evt-all-dyn-con>p {
	font-size: 15px;
	color: #4d4d4d;
	line-height: 1;
	margin-top: 6px;
}
.evt-all-dyn-con>i>em {
	font-size: 12px;
	color: #999999;
	margin-right: 10px;
	line-height: 1;
}
.evt-handle-clz, .evt-handle-dsh {
	min-height: 110px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.evt-handle-clz>img {
	width: 34px;
}
.evt-handle-dsh>img {
	width: 27px;
}
.evt-handle-clz>p, .evt-handle-dsh>p {
	font-size: 12px;
	color: #999999;
	margin-top: 15px;
}
.rep-cont-t {
	background-color: #fff;
	margin-left: 15px;
	margin-bottom: 15px;
}
.rep-cont-top {
	border-bottom: 1px solid #ebebeb;
}
.rep-cont-top>p {
	line-height: 56px;
	font-size: 1.7rem;
	padding-right: 15px;
}
.rep-cont-top>p>input {
	width: 100%;
}
.rep-cont {
	position: relative;
	font-size: 0px;
	background-color: #fff;
}
.rep-con {
	width: 100%;
	resize: none;
	min-height: 200px;
	font-size: 1.6rem;
	line-height: 1.4;
	color: #333;
	padding: 0px 15px 20px;
	box-sizing: border-box;
	overflow: hidden;
}
.rep-con-textarea {
	width: 100%;
	padding-top:10px;
	min-height: 180px;
}
.rep-con-tools {
	position: absolute;
	right: 0px;
	bottom: 5px;
	margin: 10px 15px 0px;
	-webkit-align-items: flex-end;
	align-items: flex-end;
}
.rep-con-tools>p {
	font-size: 1.5rem;
	color: #999696;
}
.rep-con-tools>p>em {
	color: #3d93f2;
}
.evt-cont {
	background-color: #fff;
	overflow: hidden;
	padding: 0px 0 0px 15px;
}
.evt-upload {
	/* margin: 0px 15px; */
	overflow: hidden;
	padding-right: 15px;
	margin-bottom: 5px;
}
.evt-upload-tt {
	padding-left: 15px;
	margin: 16px 0px 11px;
	font-size: 1.5rem;
	line-height: 1;
	color: #333333;
}
.evt-upload-tt>b {
	margin-left: 4px;
	font-size: 1.4rem;
	color: #999999;
}
.evt-pic-upload {
	float: left;
	margin: 0px 0px 5px 0px;
	width: calc(100%/3 - 4px);
	overflow: hidden;
	border-radius: 4px;
}
.evt-pic-upload-rl {
	margin-left: 5px;
	margin-right: 5px;
}
.evt-pic-upload>img {
	min-width: 100%;
	max-width: 120%;
	min-height: 100%;
	max-height: 120%;
}
.yuyin-m {
	width: 100%;
	background-color: #fff;
	margin-top: 10px;
}
.yuyin01 {
	padding: 20px 15px;
}
.yuyin01>p {
	font-size: 1.6rem;
	color: #666;
	line-height: 1;
}
.yuyin01>p>span {
	font-size: 1.6rem;
	color: #999;
	margin-left: 10px;
}
.yuyin {
	/* height: 34px; */
	/* margin-left: 15px; */
}
.yuyin>img {
	width: 100%;
}
.clear {
	clear: both;
}
.evt-upload-defult {
	background: url(../images/icon-evt-upload-defult.png) no-repeat;
	background-size: 100% 100%;
}
.evt-upload-defult2 {
	background: url(../images/icon-evt-upload-defult2.png) no-repeat;
	background-size: 100% 100%;
}
.evt-upload-shenfen p, .evt-upload-shenfen2 p {
	text-align: center;
	padding-top: 5px;
}
.mengcengImg {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}
.mengcengImg-on {
	display: block;
}
.mengceng-main {
	padding: 15px;
	width: 100%;
	box-sizing: border-box;
	background-color: #f2f2f2;
	position: fixed;
	bottom: 0px;
	display: none;
}
.mengceng-container {}
.mengceng-container>li {
	float: left;
	width: 25%;
	margin: 15px 0 0;
}
.mengceng-container>li>p {
	text-align: center;
	font-size: 12px;
}
.mengceng-container>li>p:last-child {
	line-height: 2;
}
.mengceng-container>li>p>img {
	width: 64px;
	height: 64px;
}
.mengceng-main>p {
	width: 100%;
	text-align: left;
	color: #999;
	font-size: 16px;
}
.mengceng-luyin {
	width: 250px;
	height: 280px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -125px;
	margin-top: -140px;
	background-color: #fff;
	border-radius: 7px;
	display: none;
	padding: 30px 50px;
	box-sizing: border-box;
}
.mengceng-luyin-on {
	display: block;
}
.mengceng-luyin>p {
	text-align: center;
	font-size: 1.6rem;
	color: #666;
}
.mengceng-luyin>p:nth-child(2) {
	margin: 35px 0;
}
.mengceng-luyin>p:nth-child(2)>img {
	width: 100%;
}
.report-con {
	margin: 5px 0px 0px 15px;
}
.report-con>li {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
	height: 54px;
}
.report-con>li>em, .report-con-pla {
	position: relative;
	font-size: 1.6rem;
	color: #666;
}
.report-con-pla {
	display: block;
	padding-right: 20px;
	max-width: 63%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.report-con-pla:before {
	content: "";
	position: absolute;
	top: 5.5px;
	right: 4px;
	width: 8px;
	height: 8px;
	border: solid #999;
	border-width: 1px 1px 0px 0px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.report-con-pos {
	display: block;
	width: auto;
	height: 19px;
	background: url(../images/icon-rep-pos.png) no-repeat right;
	background-size: 15px 100%;
	padding-right: 24px;
	font-size: 1.6rem;
	line-height: 19px;
	color: #333;
	margin-right: 15px;
}
.rep-warm {
	margin-left: 25px;
	margin-right: 25px;
	font-size: 12px;
	color: #f25a25;
	line-height: 1.5;
}
.rep-warm>em {
	font-weight: bold;
}
.switch {
	position: relative;
	height: 24px;
	border-radius: 12px;
	box-sizing: border-box;
	overflow: hidden;
	cursor: pointer;
	margin-right: 10px;
}
.switch-xl {
	width: 40px;
}
.switch-bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	height: 100%;
	border-radius: 14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.switch-xl .switch-bg>li {
	width: 40px;
}
.switch-blue>li:first-child {
	background-color: #f33f3a;
}
.switch-bg>li:last-child {
	background-color: #bfbfbf;
}
.switch-bg>li {
	height: 100%;
}
.switch-btn {
	position: absolute;
	top: 1px;
	right: 1px;
	z-index: 5;
	width: 22px;
	height: 22px;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
	border-radius: 100%;
}
.switch-des {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	padding: 0 8px;
	box-sizing: border-box;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.switch-des>b {
	line-height: 2.6rem;
	font-size: 1.2rem;
	color: #fff;
	font-weight: normal;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}
.switch-des>b:first-child {
	float: left;
}
.switch-des>b:last-child {
	float: right;
}
.report-save {
	display: block;
	height: 44px;
	line-height: 44px;
	border-radius: 2px;
	margin: 15px 15px;
	font-size: 1.8rem;
	color: #ffffff;
	text-align: center;
	background-image: linear-gradient(90deg, #5dc2fd 0%, #3d93f2 100%), linear-gradient(#dedede, #dedede);
	background-blend-mode: normal, normal;
	box-shadow: 0px 8px 8px 0px rgba(61, 147, 242, 0.2);
	border-radius: 4px;
}
.msg-bg {
	background-color: #f0f0f0;
}
.msg-list>li {
	border-bottom: .5px #e5e5e5 solid;
}
.msg-list>li:last-child {
	border-bottom: none;
}
.msg-list-con {
	display: block;
	padding: 14px 20px 11px;
}
.msg-list-con>p {
	font-size: 14px;
	line-height: 1;
	color: #333333;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.msg-list-con>i {
	display: block;
	margin-top: 10px;
}
.msg-list-con>i>em {
	font-size: 13px;
	line-height: 1;
	color: #808080;
	margin-right: 10px;
}
.msg-con {
	padding-bottom: 25px;
}
.msg-con>h5 {
	text-align: center;
	font-size: 16px;
	line-height: 1;
	color: #333;
	margin: 30px 0px 10px;
}
.msg-con-date {
	display: block;
	text-align: center;
	margin-bottom: 13px;
}
.msg-con-date>em {
	font-size: 13px;
	line-height: 1;
	color: #808080;
	margin-right: 10px;
}
.msg-con>p {
	margin: 10px 25px 0px;
	font-size: 13px;
	line-height: 1.5;
	color: #444;
	text-indent: 2em;
}
/*巡访地点*/
.search-box {
	margin: 0px 10px;
	background-color: #fff;
}
.search-icon {
	position: absolute;
	left: 15px;
	top: 10px;
	width: 16px;
	height: 16px;
	background: url(../images/icon-search-b.png) center center no-repeat;
	background-size: 16px;
}
.icon-sch-pos {
	display: block;
	width: 15px;
	height: 19px;
	background: url(../images/icon-rep-pos.png) no-repeat right;
	background-size: 15px;
	margin-left: 15px;
}
.sch-posit {
	margin: 0px 5px;
	line-height: 1.5;
	font-size: 1.5;
	color: #cccccc;
	-webkit-flex: 1;
	flex: 1;
}
.icon-sch-sel {
	display: block;
	width: 7.5px;
	height: 12.5px;
	background: url(../images/icon-addr-arrow.png) no-repeat;
	background-size: 7.5px;
	margin-right: 15px;
}
.evt-addr-now {
	min-height: 44px;
}
.evt-addr-text {
	padding-left: 15px;
	line-height: 1;
	margin: 16px 0px 13px;
	font-size: 1.5rem;
	color: #666666;
}
.search-wrap {
	position: relative;
	z-index: 1000;
	overflow: hidden;
}
.evt-addr-list {
	background-color: #fff;
	padding-top: 6px;
}
.evt-addr-items {
	margin-left: 38px;
}
.evt-addr-items>li {
	padding: 12px 0px;
}
.evt-addr-items>li+li {
	border-top: .5px solid #cccccc;
}
.evt-addr-tt {
	position: relative;
	font-size: 1.5rem;
	line-height: 1.5;
	color: #666666;
}
.evt-addr-on .evt-addr-tt {
	color: #ff6666;
}
.evt-addr-on .evt-addr-tt:before {
	content: "";
	position: absolute;
	top: 7px;
	left: -22px;
	width: 12.5px;
	height: 8.5px;
	background: url(../images/icon-evt-addr-on.png) no-repeat;
	background-size: 100%;
}
.evt-addr-ft {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	margin-top: 6px;
	padding-right: 15px;
}
.evt-addr-ft>b {
	font-size: 1.3rem;
	line-height: 1;
	color: #999999;
}
/*地图*/
.evt-addr-map {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: #ccc;
}
.evt-addr-map>img {
	display: block;
	width: 100%;
	height: 100%;
}
.evt-addr-posi {
	position: absolute;
	top: 28%;
	left: 28%;
	padding: 8px 14px;
	line-height: 1.5;
	background-color: #fff;
	font-size: 1.5rem;
	color: #333333;
	-webkit-box-shadow: 0px 3px 5px rgba(33, 33, 33, 0.2);
	box-shadow: 0px 3px 5px rgba(33, 33, 33, 0.2);
}
.evt-addr-posi:before {
	content: "";
	position: absolute;
	bottom: -27px;
	left: 50%;
	margin-left: -7px;
	width: 15px;
	height: 19px;
	background: url(../images/icon-rep-pos.png) no-repeat right;
	background-size: 15px;
}
/*提交提醒*/
.rs-content {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.re-icon {
	width: 74px;
	height: 74px;
	margin: 80px 0px 20px;
	border-radius: 50%;
}
.re-icon img {
	width: 100%;
	height: 100%;
}
.rs-congratulations {
	font-size: 1.5rem;
	color: #333;
	line-height: 1;
	margin-top: 12px;
}
.rs-prompt {
	font-size: 1.7rem;
	color: #ff6666;
	line-height: 1;
}
.rs-btn-box {
	width: 100%;
}
.rs-btn-box a {
	width: 44%;
	height: 44px;
}
.rs-back-home {
	background-color: #fff;
	border: solid 1px #e65f50;
	-webkit-box-shadow: 0px 4px 4px rgba(230, 95, 80, 0.2);
	box-shadow: 0px 4px 4px rgba(230, 95, 80, 0.2);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.rs-btn-box .rs-back-home p {
	color: #e65f50;
}
.rs-complete-material {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e65f50), to(#e65f50));
	background-image: -webkit-linear-gradient(#e65f50, #e65f50);
	background-image: linear-gradient(#e65f50, #e65f50), linear-gradient(90deg, #1f4b91 0%, #2a5fb3 100%), linear-gradient( #dedede, #dedede);
}
.rs-btn-box a p {
	font-size: 15px;
	line-height: 44px;
	text-align: center;
	color: #ffffff;
}
/*improve-profile.html 样式start*/
.ip-container .rs-btn-box {
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 33px;
}
.ip-container .rs-btn-box a {
	width: 100%;
}
.ipc-text {
	font-size: 14px;
	color: #4d4d4d;
	line-height: 1;
}
.ipc-text1 {
	margin-top: 52px;
}
.rep-warm {
	margin-left: 25px;
	margin-right: 25px;
	font-size: 12px;
	color: #f25a25;
	line-height: 1.5;
}
.rep-warm>em {
	font-weight: bold;
}
/*事件详情*/
.secu-nav .tab-nav-line {
	height: 3px;
	background: transparent;
	top: 38px;
}
.secu-nav .tab-nav-line:after {
	position: absolute;
	content: "";
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 20px;
	height: 3px;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#50a5fa), to(#2882dc));
	background-image: -webkit-linear-gradient(#50a5fa, #2882dc);
	background-image: linear-gradient(#50a5fa, #2882dc);
	box-shadow: 0px 5px 5px rgba(76, 166, 255, 0.3);
	border-radius: 1.5px;
}
.find-nav-cur>a {
	color: #333 !important;
	font-weight: bold;
}
.evt-det-wrap {
	margin-top: 44px;
	background-color: #fff;
	height: -webkit-calc(100vh - 44px);
	height: calc(100vh - 44px);
}
.evt-det-cont {
	display: none;
	height: 100%;
	overflow-y: auto;
}
.evt-det-on {
	display: block;
}
em[class^="evt-exa-"] {
	display: block;
	float: right;
	margin-right: 15px;
	padding: 0px 16px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	color: #ffffff;
	border-radius: 10px;
}
.segment {
	margin: 0 15px;
}
.seg-check {
	display: inline-block;
	width: 8px;
	height: 8px;
	border: .5px #b8b8b8 solid;
	border-radius: 50%;
	padding: 1.5px;
	background-clip: content-box;
	background-color: #b8b8b8;
	vertical-align: middle;
	margin-right: 6px;
}
.segment-checkbox {
	font-size: 0;
	margin: 15px 0px 17px;
}
.segment-checkbox>li {
	margin-left: 25px;
}
.segment-checkbox>li>em {
	display: inline-block;
	font-size: 12px;
	color: #666666;
	line-height: 1;
	vertical-align: middle;
}
.segment-checkbox>.seg-check-on>i {
	border-color: #ff5641;
	background-color: #ff5641;
}
.seg-con {
	margin-left: 5px;
	margin-bottom: 20px;
}
.seg-num {
	width: 22px;
	height: 100%;
	overflow: hidden;
}
.seg-num-bar {
	display: block;
	width: 1px;
	background: #e5e5e5;
	height: 100%;
	margin: 14px auto 0px;
}
.seg-cont {
	width: -webkit-calc(100% - 27px);
	width: calc(100% - 27px);
	height: 100%;
}
.seg-box-tt {
	position: relative;
	height: 30px;
	margin-top: 2px;
}
.seg-depar {
	display: block;
	width: 22px;
	height: 22px;
	/*background: #ffffff url(../images/icon-seg-depar.png) center no-repeat;*/
	background-size: 10.5px;
	border: solid .5px #ffac1c;
	border-radius: 50%;
	margin: 0 8px 0 5px;
}
.seg-box-tt>h5 {
	font-size: .15rem;
	color: #666666;
}
.seg-box-tt>h5>b {
	font-size: .14rem;
	color: #999999;
	margin-left: 8px;
}
.seg-depar-build {
	background: #ffffff url(../images/icon-evt-step-build.png) center no-repeat;
	background-size: 10.5px;
}
.seg-depar-peo {
	background: #ffffff url(../images/icon-evt-step-peo.png) center no-repeat;
	background-size: 11.5px;
}
.seg-on>h5 {
	color: #333333;
}
.sep-step {
	position: absolute;
	left: -27px;
	top: 6px;
	display: block;
	width: 18px;
	height: 18px;
	border: 2px solid #fff;
	font-size: 12px;
	color: #ffffff;
	line-height: 19px;
	text-align: center;
	background-color: #b8b8b8;
	font-family: "zzgfmh";
	border-radius: 50%;
	background-clip: content-box;
}
.sep-step:before {
	content: "";
	position: absolute;
	top: -3px;
	left: -3px;
	width: 24px;
	height: 24px;
	border: .5px solid #dcdcdc;
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.seg-on {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e65f50), to(#e65f50));
	background-image: -webkit-linear-gradient(#e65f50, #e65f50);
	background-image: linear-gradient(#e65f50, #e65f50), linear-gradient( #f5f5f5, #f5f5f5);
}
.seg-on>p {
	color: #fff !important;
}
.seg-on>.sep-step {
	background-image: -webkit-linear-gradient(160deg, #f33f3a 0%, #f75a3b 100%);
	background-image: -moz-linear-gradient(160deg, #f33f3a 0%, #f75a3b 100%);
	background-image: -o-linear-gradient(160deg, #f33f3a 0%, #f75a3b 100%);
	background-image: linear-gradient(160deg, #f33f3a 0%, #f75a3b 100%), linear-gradient( #ff5641, #ff5641);
	color: #fff;
}
.seg-on>.sep-step:before {
	border: .5px solid #f99e9b;
}
.seg-box-bd {
	margin-top: 3px;
	min-height: 44px;
	border: solid .5px #d2d2d2;
}
.seg-box-handling {
	width: 15px;
}
.seg-box-tip1 {
	font-size: 12px;
	color: #b3b3b3;
	margin-left: 10px;
}
.seg-box-tip2 {
	font-size: 12px;
	color: #666;
	margin: 8px 10px 10px;
	line-height: 1.4;
}
.tip2-mini {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.seg-arrow {
	height: 15px;
}
.seg-arrow-down {
	background: url(../images/icon-seg-arrow.png) top center no-repeat;
	background-size: 9.5px;
}
.seg-arrow-up {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	background: url(../images/icon-seg-arrow.png) bottom center no-repeat !important;
	background-size: 9.5px !important;
}
.seg-cont .seg-box+.seg-box {
	margin-top: 10px;
}
.seg-box-time {
	font-size: 12px;
	color: #999999;
	line-height: 1;
	margin: 3px 0px 8px 34px;
}
.seg-pic {
	margin: 0px 15px 10px;
}
.seg-pic-tt {
	margin: 10px 0px;
}
.seg-pic-tt>p {
	height: 19px;
	padding: 0 7px;
	font-size: 12px;
	color: #ffffff;
	background-color: #00a0e9;
	line-height: 20px;
}
.seg-pic-tt>em {
	height: 19px;
	font-size: 12px;
	color: #808080;
}
.seg-box-hd {
	position: relative;
	height: 36px;
	background-color: #f0f0f0;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
	padding: 0px 10px;
}
.seg-box-hd>p {
	font-size: 1.5rem;
	color: #999999;
}
.seg-box-hd>span {
	padding-left: 22px;
	font-size: 1.4rem;
	line-height: 18px;
}
.sep-step-green {
	color: #7bae00;
	background: url(../images/icon-evt-step-ok.png) no-repeat left center;
	background-size: 18px;
}
.sep-step-red {
	color: #999999;
	background: url(../images/icon-evt-step-back.png) no-repeat left center;
	background-size: 17px;
}
/**/
.mo-files {
	margin-top: 5px;
	margin-bottom: 15px;
	background-color: #fff;
}
.files-title {
	height: 40px;
	line-height: 40px;
	font-size: 15px;
	color: #333;
	text-align: left;
}
.files-cxbox {
	display: block;
	width: 100%;
	height: 49px;
	position: relative;
	/* background: #f5f5f5; */
	margin-bottom: 6px;
}
.files-cxbox>img {
	width: 30px;
	height: 34px;
	margin: 7px 10px 7px 10px;
	float: left;
}
.files-con {
	position: relative;
	float: left;
	padding-top: 6px;
	width: 35%;
}
.files-con>span {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.files-name {
	font-size: 15px;
}
.files-ds {
	font-size: 12px;
	color: #999;
	line-height: 1;
}
.files-download {
	position: absolute;
	width: 30px;
	height: 30px;
	right: 10px;
	top: 8px;
	background: url(../images/icon-evt-files-download.png) no-repeat center;
	background-size: 17px;
}
/*evnets-menu.html*/
.evt-menu-all>.evt-nav-list {
	margin: 0px 10px;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0px;
	padding-bottom: 15px;
}
.evt-chk-bor>li:first-child {
	border-top: none;
}
.evt-chk-t1 {
	float: right;
	font-size: 1.4rem;
	color: #666666;
	margin-right: 14px;
}
.evt-chk-t2 {
	font-size: 1.4rem;
	color: #333333;
	background-color: #fff;
	line-height: 1.5;
	padding: 10px 0px 4px 15px;
}
.evt-chk-t2+.rep-con {
	min-height: 172px;
}
.evt-sug-t1 {
	display: block;
	margin: 12px 16px 0px;
	line-height: 1.5;
	font-size: 1.5rem;
	color: #999999;
}
.evt-sug-t2 {
	margin: 18px 16px 15px;
	line-height: 1.5;
	font-size: 1.5rem;
	color: #333333;
}
.evt-sug-sta {
	height: 44px;
	margin-left: 15px;
	border-bottom: 1px #e6e6e6 solid;
}
.evt-sug-sta>p {
	font-size: 1.5rem;
	color: #333333;
}
.evt-sug-sta>span {
	display: block;
	height: 20px;
	line-height: 20px;
	padding: 0px 9px;
	font-size: 1.2rem;
	color: #fff;
	border-radius: 10px;
	margin-right: 15px;
}
.evt-bg-green {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#34cf58), to(#34cf58));
	background-image: -webkit-linear-gradient(#34cf58, #34cf58);
	background-image: linear-gradient(#34cf58, #34cf58), linear-gradient( #ffa64c, #ffa64c);
}
.evt-sug-seg {
	margin: 10px 49px 0px 16px;
}
.know-wrap {
	background-color: #f5f5f5;
	padding: 10px 0px;
}
.know-list .content-art {
	padding: 12px 30px 15px 15px;
	display: -webkit-flex;
	display: flex;
	border-bottom: solid 1px #ebebeb;
}
.know-list .content-art01 {
	margin: 15px 15px 0;
	padding-bottom: 15px;
	border-bottom: solid 1px #ebebeb;
}
.content-art01 .line-2 {
	line-height: 1.5;
	font-size: 1.7rem;
	color: #333333;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	-webkit-box-orient: vertical;
}
.know-list .content-art+.content-art {
	margin-top: 0px;
}
.anmt-details-content {
	padding: 0 15px 20px;
	overflow: hidden;
}
.anmt-details-content .mmd-title {
	width: 100%;
	box-sizing: border-box;
	padding: 0 10px;
	border-bottom: 1px solid #ccc;
}
.mmd-title>p {
	font-size: 18px;
	line-height: 24px;
	color: #333333;
	/*text-align: center;*/
}
.mme-attachment {
	width: 100%;
	height: 49px;
	background-color: #f0f0f0;
	margin-top: 12px;
}
.mmea-left img {
	display: block;
	width: 18px;
	height: 21px;
}
.mmea-left p {
	font-size: 15px;
	color: #666666;
	line-height: 21px;
	margin-left: 12.5px;
}
.mmea-right {
	margin-right: 16px;
}
.mmea-right p {
	font-size: 14px;
	color: #4ca0ff;
}
.adc-text {
	text-indent: 2em;
}
.mdc-pic {
	width: 100%;
	margin-top: 11px;
}
.mdc-pic img {
	width: 100%;
	height: auto;
}
.adc-text {
	text-indent: 2em;
}
.mdc-text {
	font-size: 14px;
	color: #666666;
	line-height: 20px;
	margin-top: 12px;
}
.adcf-top a {
	display: block;
	width: 54px;
	height: 54px;
	border-radius: 50%;
	border: 2px solid #999999;
	background-color: #fff;
}
.adc-zan {
	background: url(../images/meeting/icon-zan-n.png) no-repeat;
	background-size: 23.5px 27px;
	background-position: center center;
}
.adc-xin {
	background: url(../images/meeting/icon-xin-n.png) no-repeat;
	background-size: 27px 23.5px;
	background-position: center center;
}
.adcf-bottom {
	width: 100%;
	box-sizing: border-box;
	padding-left: 5.5px;
	padding-right: 42px;
}
.adcf-div {
	width: 100%;
}
.adcf-next {
	margin-top: 22px;
}
.adcf-div p {
	font-size: 14px;
	color: #333333;
	line-height: 1;
	white-space: nowrap;
}
.adcf-div a {
	font-size: 14px;
	line-height: 1;
	text-decoration: underline;
	color: #4c9aff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.mmd-title .flfg-art1 {
	font-size: 12px;
	line-height: 1.5;
	color: #999;
	text-align: left;
	margin: 8px 0px 6px;
}
.my-evt-hd {
	padding-bottom: 5px;
}
.my-evt-hd .fix-hd {
	position: static;
}
.my-evt-hd ul li::after {
	content: "";
	position: absolute;
	width: 0px;
	height: 15px;
	top: 50%;
	margin-top: -8px;
	right: 0px;
	border-right: 1px solid #ebebeb;
}
.layer-evt .layer-slide>li>.curr-sel {
	color: #ff6666;
	background: url(../images/icon-selected.png) no-repeat 95% center;
	background-size: 18px auto;
}
.my-evt-hd .curr-hd a {
	color: #ff6666;
}
.evt-det-cont .idx-dyn+.idx-dyn, .my-sug-wrap .idx-dyn+.idx-dyn {
	border-top: 1px solid #ccc;
}
.my-sug-wrap .idx-dyn-con {
	margin: 0px;
}
.idx-dyn-time {
	font-size: 1.4rem;
	line-height: 1;
	color: #999999;
	margin-top: 2px;
}
.add-email {
	display: block;
	position: fixed;
	bottom: 140px;
	right: 10px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	z-index: 5;
	background-image: -webkit-linear-gradient(45deg, #f33f3a 32%, #f78a3b 100%);
	background-image: linear-gradient(45deg, #f33f3a 32%, #f78a3b 100%), linear-gradient( #ffffff, #ffffff);
	-webkit-box-shadow: 0px 3px 6px rgba(250, 67, 77, 0.5);
	box-shadow: 0px 3px 6px rgba(250, 67, 77, 0.5);
	line-height: 45px;
	text-align: center;
	font-size: 0;
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
}
.add-email img {
	width: 20px;
	vertical-align: middle;
}
/*my.html*/
.m-banner {
	width: 100%;
	height: 233px;
	background: url('../images/img110/m-banner.png') no-repeat;
	background-size: 100% 233px;
	overflow: hidden;
}
.m-banner-content {
	margin-top: 11px;
	width: 100%;
}
.m-avatar {
	width: 82px;
	height: 82px;
	border-radius: 50%;
	overflow: hidden;
	margin: 25px auto 0;
}
.m-avatar img {
	width: 100%;
	height: 100%;
}
.m-banner-content p {
	font-size: 18px;
	line-height: 2;
	color: #ffffff;
	text-align: center;
}
.my-count {
	margin: -75px 15px 0px;
	padding: 15px 0px;
	background-color: #fff;
	-webkit-box-shadow: 0px 5px 29px 0px rgba(61, 147, 242, 0.1);
	box-shadow: 0px 5px 29px 0px rgba(61, 147, 242, 0.1);
	border-radius: 7px;
}
.my-count-item {
	display: -webkit-flex;
	display: flex;
	-webkit-flex: 1;
	flex: 1;
	-webkit-align-items: center;
	align-items: center;
}
.my-count-item+.my-count-item {
	border-left: 1px solid #ebebeb;
}
.my-count-item>i {
	display: block;
	width: 51px;
	height: 51px;
	margin-left: 20px;
	margin-right: 10px;
}
.my-count-item>i>img {
	width: 100%;
}
.my-count-cont {
	padding: 2px 0px 8px;
	height: 51px;
}
.my-count-cont>b {
	display: block;
	font-size: 1.4rem;
	line-height: 1.2;
	color: #666666;
	text-align: left;
	padding-top: 8px;
}
.my-count-cont>p {
	font-size: 2rem;
	line-height: 1.8;
	color: #fa6245;
	font-weight: 600;
	text-align: center;
}
.m-content {
	margin: 10px 15px;
	background-color: #fff;
	background-color: #ffffff;
	box-shadow: 0px 5px 29px 0px rgba(61, 147, 242, 0.1);
	border-radius: 8px;
}
.m-content-list {
	padding: 0 0 0 18px;
}
.m-content-list>li {
	height: 52px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 1px solid #ebebeb;
}
.m-content-list>li:last-child {
	border-bottom: none;
}
.m-content-list>li a {
	width: 100%;
	height: 100%;
}
.mcl-left>i {
	display: block;
	width: 16px;
	height: 18px;
	margin-left: 5px;
}
.mcl-left>i img {
	width: 100%;
}
.mcl-left>p {
	font-size: 1.6rem;
	line-height: 1;
	color: #333;
	margin-left: 10px;
}
.mcl-left>em {
	width: 61px;
	height: 19px;
	font-size: 12px;
	color: #fff;
	text-align: right;
	margin-left: 5px;
	padding-right: 5px;
	box-sizing: border-box;
	background: url(../images/img110/app-icon-peizhi.png) no-repeat;
	background-size: 61px 19px;
}
.mcl-right>i {
	display: block;
	width: 8.5px;
	height: 17px;
	background: url(../images/icon-my-right.png) no-repeat;
	background-size: 100% 100%;
	margin-right: 15px;
}
.md-content .mcl-left p {
	margin-left: 5px;
}
.mclr-avatar {
	width: 36px;
	height: 36px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 50%;
	margin-right: 10px;
}
.mclr-avatar img {
	width: 100%;
	height: 100%;
}
.mcl-right p {
	margin-right: 10px;
	font-size: 15px;
	line-height: 1;
	color: #b3afaf;
}
/* events-handle-detail.html start */
a {
	-webkit-tap-highlight-color: transparent;
}
.bg-gray {
	background-color: #f5f5f5;
}
.evt-box {
	background-color: #fff;
	overflow: hidden;
}
.evt-t1 {
	margin: 10px 15px;
	font-size: 1.7rem;
	font-weight: bold;
	line-height: 1.5;
	color: #333333;
}
.evt-service {
	margin: 8px 15px 10px;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.evt-service>p {
	font-size: 1.2rem;
	color: #999999;
}
.evt-service>em {
	display: block;
	line-height: 18px;
	padding: 0px 5px;
	font-size: 1.2rem;
	border-radius: 2px;
}
.evt-color-yellow {
	border: solid 1px #ffbf26;
	color: #ffbf26;
	background-color: #fffcf4;
}
.evt-sec {
	margin-left: 15px;
}
.evt-box-tt {
	background-color: #fff;
	height: 44px;
	padding: 0px 15px;
	border-bottom: 1px solid #f0f0f0;
}
.evt-box-tt>p {
	float: left;
	font-size: 1.7rem;
	line-height: 44px;
	color: #333333;
	font-weight: 600;
}
.evt-box-arrow {
	display: block;
	float: right;
	margin-top: 18px;
	width: 8px;
	height: 5px;
	background: url(../images/icon-check-arrow.png) no-repeat;
	background-size: 100%;
}
.evt-box-tran {
	transform: rotate(180deg);
}
.evt-t2 {
	margin: 10px 15px 0px 0px;
	font-size: 1.6rem;
	line-height: 1.5;
	color: #333333;
}
.evt-audio {
	overflow: hidden;
}
.evt-audio-li {
	display: none;
}
.evt-audio-li-on {
	display: block;
}
.evt-audio-con {
	float: left;
	height: 34px;
	background: #77b3f6;
	background: -webkit-linear-gradient(left, #94d7fe, #77b3f6);
	border-radius: 16.5px;
	padding: 0px 10px 0px 5px;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}
.evt-audio-btn {
	width: 23px;
	height: 23px;
	border-radius: 50%;
	background: url(../images/icon-audio-btn.png) no-repeat;
	background-size: 100%;
}
.evt-audio-pic {
	width: 54px;
	height: 15px;
	background: url(../images/icon-audio-pic.png) no-repeat;
	background-size: 100%;
	margin: 0px 15px;
}
.evt-audio-con>p {
	font-size: 1.4rem;
	color: #ffffff;
}
.evt-audio-close {
	width: 12px;
	height: 12px;
	background: url(../images/icon-close.png) no-repeat;
	background-size: 100%;
	margin-left: 35px;
	margin-right: 0px;
}
.evt-t3 {
	margin-top: 12px;
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 1;
	color: #333333;
}
.evt-cont1 {
	padding-bottom: 80px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.handle-btn-wrap {
	position: fixed;
	bottom: 0px;
	width: 100%;
	min-width: 320px;
	max-width: 1024px;
	background-color: #f5f5f5
}
/* 弹窗 */
.layer-wrap {
	z-index: 9999;
}
.layer-body-lt {
	height: -webkit-calc(100vh - 44px);
	height: calc(100vh - 44px);
	background-color: #f5f8fa;
	margin-top: 44px;
}
.layer-body {
	position: relative;
	top: 0px;
	z-index: 10;
	height: 100vh;
	overflow: hidden;
}
.layer-body-in {
	-webkit-animation: fadeInBd .4s 0s linear forwards;
	animation: fadeInBd .4s 0s linear forwards;
}

@-webkit-keyframes fadeInBd {
	0% {
		top: 100%;
	}
	100% {
		top: 0px;
	}
}
@keyframes fadeInBd {
	0% {
		top: 100%;
	}
	100% {
		top: 0px;
	}
}
.evt-tt-cen {
	float: none !important;
	text-align: center;
	font-size: 1.8rem;
}
.evt-box-down {
	position: absolute;
	top: 11px;
	right: 7px;
	width: 16px;
	padding: 8px;
	height: 9px;
	background: url(../images/icon-evt-arrow-down.png) no-repeat center;
	background-size: 16px;
}
.evt-box-close {
	position: absolute;
	top: 11px;
	left: 7px;
	width: 16px;
	padding: 8px;
	height: 9px;
	border-radius: 50%;
	background: url(../images/icon-close.png) no-repeat center;
	background-size: 16px;
}
.color-333 {
	color: #333 !important;
}
.layer-body .rep-con {
	padding: 10px 15px 0px 0px;
	font-size: 1.5rem;
}
.layer-body .evt-chk-t2 {
	font-size: 1.5rem;
	color: #666666;
	padding-left: 0px;
}
textarea::-webkit-input-placeholder {
	color: #bbb;
}
.layer-in-con-top>p {
	border-bottom: 1px solid #e5e5e5;
	padding: 0 2rem;
	height: 4.4rem;
	line-height: 4.4rem;
	box-sizing: border-box;
	font-size: 1.6rem;
}
.layer-in-con-top>p>span:nth-child(2) {
	text-align: center;
}
.layer-in-con-top>p>span:nth-child(3) {
	text-align: right;
	color: #3d93f2;
}
.layer-in-con-btn {
	overflow-x: hidden;
	max-height: -webkit-calc(100vh - 8rem);
	max-height: calc(100vh - 8rem);
}
.layer-in-con-btn>li {
	height: 4.4rem;
	line-height: 4.4rem;
	box-sizing: border-box;
	font-size: 1.4rem;
	overflow: hidden;
	margin: 0 1rem;
	border-bottom: 1px solid #f0f0f0;
	padding: 0 1rem;
}
.layer-in-con-btn>li.active>span {
	color: #3d93f2;
}
.layer-in-con-btn>li.active>i {
	display: block;
}
.layer-in-con-btn>li>i {
	width: 1.2rem;
	height: 0.8rem;
	background: url(../images/icon-selected-red.png) no-repeat center;
	background-size: 100% 100%;
	float: right;
	display: none;
	margin-top: 1.8rem;
}
.layer-in-con-btn-red>li>i {
	width: 1.2rem;
	height: 0.8rem;
	background: url(../images/icon-selected-real-red.png) no-repeat center;
	background-size: 100% 100%;
	float: right;
	display: none;
	margin-top: 1.8rem;
}
@-webkit-keyframes fadeInBd {
	0% {
		top: 100%;
	}
	100% {
		top: 0px;
	}
}
@keyframes fadeInBd {
	0% {
		top: 100%;
	}
	100% {
		top: 0px;
	}
}
.evt-tt-cen {
	float: none !important;
	text-align: center;
	font-size: 1.8rem;
}
.evt-box-down {
	position: absolute;
	top: 11px;
	right: 7px;
	width: 16px;
	padding: 8px;
	height: 9px;
	background: url(../images/icon-evt-arrow-down.png) no-repeat center;
	background-size: 16px;
}
.color-333 {
	color: #333 !important;
}
.layer-body .rep-con {
	padding: 10px 15px 0px 0px;
	font-size: 1.5rem;
}
.layer-body .evt-chk-t2 {
	font-size: 1.5rem;
	color: #666666;
	padding-left: 0px;
}
textarea::-webkit-input-placeholder {
	color: #bbb;
}
.layer-in-con {
	/* display: none; */
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 10;
}
.layer-in-con {
	/* display: none; */
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 10;
	background-color: #fff;
	max-height: -webkit-calc(100vh - 44px);
	max-height: calc(100vh - 44px);
	display: block;
	border-radius: 0.5rem 0.5rem 0px 0px;
}
.layer-in-con>img {
	display: block;
	width: 100%;
	height: auto;
}
.fix-btm {
	position: fixed;
	bottom: 30px;
	width: 100%;
	min-width: 320px;
	max-width: 1024px;
	opacity: 0;
}
.layer-body-in .fix-btm {
	opacity: 1;
	transition: opacity .3s .2s ease-in;
}
.evt-box1>.evt-sec {
	margin-left: 0px;
}
.evt-box1 .form-line {
	padding: 0px 0px;
}
.evt-box1 .form-line>.label-con {
	text-align: left;
}
/* 新闻列表 */
.content-main {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}
.content-tab {
	width: 100%;
	height: 44px;
	position: relative;
}
.swiper1 {
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;
	background-color: #fff;
	border-bottom: 1px solid #f5f5f5;
}
.swiper1 .swiper-slide {
	width: 68px;
	text-align: center;
}
.swiper1 .selected {
	color: #333 !important;
	font-weight: 600;
}
.swiper1 .swiper-slide {
	font-size: 1.6rem;
	height: 44px;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	cursor: pointer;
	color: #666;
}
.content-tab .tab-nav-line {
	height: 3px;
	top: 38px;
	width: 20px;
	z-index: 20;
	background: transparent;
}
.content-tab .tab-nav-line:after {
	position: absolute;
	content: "";
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 20px;
	height: 3px;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#50a5fa), to(#2882dc));
	background-image: -webkit-linear-gradient(#50a5fa, #2882dc);
	background-image: linear-gradient(#50a5fa, #2882dc);
	box-shadow: 0px 5px 5px rgba(76, 166, 255, 0.3);
	border-radius: 1.5px;
	z-index: 20;
}
.swiper2 {
	width: 100%;
	margin-top: 44px;
	background-color: #fff;
}
.swiper2 .swiper-slide {
	height: calc(100vh - 50px);
	text-align: left;
	box-sizing: border-box !important;
	overflow-x: hidden !important;
}
.bg-fff {
	background-color: #fff;
}
/* 新闻列表 */
/* events-handle-detail.html end */
/* 事件代办 */
.event-pending-info {
	margin: 15px;
}
.event-pending-info>p {
	font-size: 1.4rem;
	color: #fa6245;
}
.event-pending-list {
	background-color: #ffffff;
	border-radius: 8px;
	margin: 0 15px 10px;
	padding: 10px 15px 15px;
	overflow: hidden;
	/* float: left; */
}
.event-pending-list .left-icon {
	width: 32px;
	height: 30px;
	background: url('../images/img110/icon-sxh.png') no-repeat center;
	background-size: 32px 30px;
	margin-right: 15px;
	float: left;
	margin-top: 5px;
}
.event-pending-list .left-icon>span {
	text-align: center;
	display: block;
	color: #fff;
	font-size: 1.4rem;
	line-height: 30px;
}
.event-pending-list .right-icon {
	width: calc(100% - 47px);
	display: block;
	height: 100%;
	float: left;
}
.event-pending-list .right-icon .p1 {
	font-size: 1.7rem;
	color: #333333;
	line-height: 1.5;
}
.event-pending-list .right-icon .p2 {
	font-size: 1.2rem;
	color: #999;
	padding-top: 10px;
	line-height: 1.5;
}

.mo-files-fujian {
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 10px;
}
.mo-files {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    border: dashed 1px rgba(40, 130, 220, 0.3);
    margin-left: 1rem;
}
.files-con {
    position: relative;
    float: left;
    padding-bottom: 10px;
    line-height: 34px;
    width: calc(100% - 70px);
    border-bottom: dashed 1px rgba(40, 130, 220, 0.3);
}
.files-con2 {
    line-height: 18px;
}
.files-cxbox>p {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #f5f5f5;
    text-align: center;
    border-radius: 4px;
}

.files-download {
    position: absolute;
    width: 36.5px;
    height: 16px;
    right: 15px;
    top: 50%;
    margin-top: -10px;
    color: #2882dc;
    font-size: 1.2rem;
}

.files-con>span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.files-name {
    font-size: 1.4rem;
}
/* 事件代办 */
/* input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color: #aab2bd;
}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
	color: transparent;
}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
	color: transparent;
}
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
	color: transparent;
} */
@media only screen and (max-width: 320px) {
	/*.idx-dyn-pic{
		width: 270px;
	}
	 .idx-dyn-pic>li {
	    width: 80px;
	    height: 80px;
	} */
	.idx-dyn-con {
		margin: 10px 16px 0px;
	}
	.idx-dyn-all {
		padding-left: 16px;
	}
	.idx-dyn-pos {
		margin-left: 16px;
	}
	.idx-dyn-hd {
		margin: 0px 16px;
	}
}
@media only screen and (min-width: 414px) {
	/* .idx-dyn-pic{
		width: 360px;
	}
	.idx-dyn-pic>li {
	    width: 110px;
	    height: 80px;
	} */
	.idx-dyn-con {
		margin: 10px 0px 0px;
	}
	.idx-dyn-all {
		padding-left: 16px;
	}
	.idx-dyn-pos {
		margin-left: 16px;
	}
	.idx-dyn-hd {
		margin: 0px 16px;
	}
}

/* .form-line label {
	float: left;
	display: block;
	width: 7em;
	min-height: 1.5em;
	line-height: 1.5em;
	padding: 9px 0px;
	margin-right: 10px;
	color: #666;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
} */
.form-line .label-con {
	padding: 9px 0px 9px 0px;
	text-align: right;
	line-height: 1.5em;
	overflow: hidden;
	color: #333;
}
.form-line .address {
	display: block;
	position: absolute;
	top: 10px;
	right: 15px;
	width: 15px;
	height: 19px;
	background: url(../images/icon-rep-pos.png) right center no-repeat;
	background-size: 15px 100%;
}
.form-line .select-a {
	position: relative;
	display: block;
	padding-right: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #333;
}
.report-save-yuyin {
	height: 30px;
	line-height: 30px;
	margin: 0px;
	font-size: 1.6rem;
}
.evt-det-zhanwu {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -85px;
	margin-left: -111px;
	text-align: center;
	font-size: 1.8rem;
	color: #87addc;
}
.evt-det-zhanwu>img {
	width: 222px;
	height: 170px;
}