@CHARSET "UTF-8";
/*板块*/
.wrap-box {margin-top:10px; background-color:#fff; }
.wrap-box:first-child{margin-top: 0px; }
.box-hd { height:40px; border-bottom:1px solid #ebebeb; line-height:40px; }
/*----------------------------------------------------填写表单信息----------------------------------------------------------*/
.form-wrap { font-size:1.4rem; }
.form-line { min-height:44px; overflow:auto; border-bottom:1px solid #f0f0f0; box-sizing: border-box; }
.form-line:last-child { border-bottom:0px;}
.align-r { text-align:right; }
.form-line label { float:left; display: block; width:7em; min-height:1.5em; line-height:1.5em; padding:11px 0px; margin-right: 10px; color: #666; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;  }
.form-line label.w-33 { width:33%; }
.form-line .label-con{ padding: 11px 0px 11px 0px; line-height:1.5em; overflow:hidden; color:#333; }
.form-line .label-con .txt-r { color:#ff554c; }
.form-line input[type="text"]{box-sizing:border-box; display: block; padding-right:15px; width:100%; height: 1.5em; line-height: 1.5em; color:#333; }
.form-line input[type="text"].txt-c, .form-wrap .form-line input[type="password"].txt-c { color:#ccc; }
.form-line textarea {   width:100%; padding-right: 10px; box-sizing:border-box; font-family:arial, "Microsoft YaHei","微软雅黑", sans-serif; color:#333; margin:0px; line-height:1.5em;  -webkit-appearance: none; resize:none; }

.form-line .right-icon { display:block; position:absolute; top:0px; right:15px; width:7px; height:100%; background:url(../images/right-icon.png) right center no-repeat; background-size:7px; }
.form-line .select-a {position:relative; display:block; padding-right:30px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color:#333; }

.form-line .select-a.txt-b { color:#666; }
.form-line .select-a.txt-r {color:#ff554c; }
.form-line .select-a.txt-g { color:#04c2da; }
.red-asterisk { color: #ff554c; font-size:1.4rem; vertical-align:-1px;}
.form-line.only-con .label-con { padding-left:0px;}
.form-line.only-con .select-a { color:#333; }
input:-moz-placeholder, textarea:-moz-placeholder{ color:#bebebe; opacity:1;/*Firefox 18-*/}
input::-moz-placeholder, textarea::-moz-placeholder {color:#bebebe; opacity:1;/*Firefox 19+*/}
input:-ms-input-placeholder, textarea:-ms-input-placeholder{  color:#bebebe; opacity:1;/*ms*/}
input::-webkit-input-placeholder,  textarea::-webkit-input-placeholder{  color:#bebebe; opacity:1;/*webkit*/}
.only-con input::-moz-placeholder, .only-con textarea::-moz-placeholder {color:#333; opacity:1;/*Firefox 19+*/}
.only-con input::-webkit-input-placeholder, .only-con textarea::-webkit-input-placeholder{  color:#333; opacity:1;/*webkit*/}
.only-con input::-webkit-input-placeholder, .only-con textarea::-webkit-input-placeholder{  color:#d5d5d5; opacity:1;}
/*右侧值靠右对齐*/
.wrap-align-r .label-con{text-align:right; }
.wrap-align-r .label-con input, .wrap-align-r .label-con textarea{text-align: right; }

/*有单位*/
.right-rq-icon { display:block; position:absolute; top:0px; right:15px; width:19px; height:100%; background:url(../images/icon-calendar.png) center center no-repeat; background-size:19px;}
.form-v-unit { display:block; position:absolute; top:0px; right:0px; color:#999; padding:11px 10px; line-height:1.5em;}
.label-con.p-r-unit{padding-right: 40px !important;}
.label-con.p-r-unit input{padding-right: 0px;}
/*板块标题*/
.box-hd { height:44px; border-bottom:1px solid #ebebeb; line-height:44px; box-sizing: border-box; overflow: hidden;}
.box-hd h3 { font-weight:bold; font-size: 1.5rem; }
.box-hd .a-right {display:-webkit-flex; display:flex; -webkit-justify-content: center; justify-content: center; -webkit-align-items: center; align-items: center; position:absolute; top:0px; right:0px;  min-width:40px;height:100%;}
.a-right .right-icon {display:block; width:8px; height: 100%; background:url(../images/form-hd-up.png) center right no-repeat; background-size: 8px; transform:rotate(-180deg);}
.right-icon.a-up { transform:rotate(0deg);  }
.right-icon.a-down { transform:rotate(-180deg);  }
.form-line .label-switch{padding: 8px 0px;}

/*开关组件 start*/
.form-line .label-switch .switch{float: right;}
.switch {  position: relative;  height: 28px;  border-radius: 14px;  margin-right: 15px;  box-sizing: border-box;  overflow: hidden;  cursor: pointer;}
.switch-bg {  position: absolute;  top: 0;  left: 0;  z-index: 2;  height: 100%;  border-radius: 14px;  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box;}
.switch-bg > li:last-child {  background-color: #ccc;}
.switch-blue > li:first-child {  background-color: #0f8add;}
.switch-yellow > li:first-child {  background-color: #ffcc7f;}
.switch-red > li:first-child { background-color: #fe5048; }
.switch-bg > li {  height: 100%;}
.switch-btn {  position: absolute;  top: 1px;  right: 1px;  z-index: 5;  width: 26px;  height: 26px;  background-color: #ffffff;  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);  border-radius: 100%;}
.switch-des {  display: block;  width: 100%;  height: 100%;  position: absolute;  top: 0;  left: 0;  z-index: 3;  padding: 0 8px;  box-sizing: border-box;  overflow: hidden;  -webkit-user-select: none;  -moz-user-select: none;  -ms-user-select: none;}
.switch-des > b {  line-height: 2.6rem;  font-size: 1.2rem;  color: #fff;  font-weight: normal;  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);}
.switch-des > b:first-child {  float: left;}
.switch-des > b:last-child {  float: right;}
.switch-xl {  width: 55px;}
.switch-xl .switch-bg {  width: 110px;}
.switch-xl .switch-bg > li {  width: 55px;}
.switch-sm {  width: 48px;}
.switch-sm .switch-bg {  width: 96px;}
.switch-sm .switch-bg > li {  width: 48px;}
/*开关组件end*/
/*多条记录*/
.multi-form li{ border-bottom: 1px solid #ebebeb; }
.multi-label{width:5em; text-align: center; margin-right: 15px;}
.multi-form-label{display: inline-block; width: 100%; margin-top:11px; border-radius: 2px; font-weight: bold;}
.multi-form .icon-close{display: inline-block; margin-top: 10px; width:22px; height: 22px; background: url(../images/icon-close-blue.png)no-repeat; background-size: 100%;}
.add-form-line {display:block; text-align:center; padding:11px 0px; color:#0f8add; height: 44px; overflow: hidden; box-sizing: border-box;}
.icon-add { display:inline-block; margin-right:10px; vertical-align:-6px; width:22px; height:22px; background:url(../images/icon-add-blue.png) no-repeat; background-size:100%; }
/*多条记录-场景2*/
.multi-form2 li{margin-right: 10px; margin-top: 10px; box-shadow: 0px 0px 10px  rgba(15,138,221,0.4); padding: 10px; border-radius: 2px; }
/*--------表单样式2 上下形式----------*/
.form-w-tb .gray-txt {font-size:1.2rem; padding:12px 10px 0px; }
.form-l-n {color:#666; padding-top:10px; }/*标签名称*/
.form-w-tb .label-con{margin-right: 15px;  }
.form-w-tb  input{ box-sizing:border-box; display: block; padding:12px;  width:100%; height:44px; line-height: 1.5em; color:#333; background-color:#f5f5f5; border-radius:5px; }
.form-w-tb  textarea {text-align: left !important; box-sizing:border-box; padding:12px;  width:100%; height:6em; line-height:1.5em;  color:#333; margin:0px;  background-color:#f5f5f5; border-radius:5px; -webkit-appearance: none; }
.s-txt { font-size:1.2rem; color:#999; }
/*--------------------------------------------上传照片--------------------------------------------------*/
.add-images {padding:5px; overflow:auto; }
.add-images li {position:relative; float:left;  width:25%;  }
.add-images li a { display:block; margin:5px;  border:1px solid #ebebeb; border-radius:2px; }
.add-images li img { width:100%; display:block;border-radius:2px;}
.add-images .del-file-img {position:absolute; top:0px; right:0px;  height:25%; width:25%; max-height:26px; max-width:26px;  z-index:2; cursor:pointer; background:url(../images/icon-del-img.png) top center no-repeat; background-size:100%;}
.add-images li.upload-box a { background-color:#fafafa; border:1px dashed #ebebeb;}
.upload-input { position:absolute; top:6px; left:6px; right:6px; bottom:6px;}
.upload-box input[type="file"] {display:block; position:absolute; top:0px; bottom:0px; left:0px; right:0px; width: 100%; z-index:2;  opacity:0; filter:alpha(opacity=0); cursor:pointer;}
.wrap-file .add-images { margin-left:-10px; }
.mark-main{position:absolute; bottom:6px; left:50%; margin-left:-35%;   width:70%; padding: 2px 0px; text-align: center; border-radius: 16px; background-color: rgba(0,0,0,0.4); color: #fff; font-size: 1.2rem; }
/*基础信息卡片式*/
.infor-card{margin: 10px 10px 10px 0px; box-shadow: 0px 0px 20px rgba(15,138,221, 0.3); border-radius: 4px; }
.infor-avatar{ width:130px; -webkit-align-items:center;align-items:center;-webkit-justify-content:center; justify-content:center; -webkit-flex-flow:column;flex-flow:column;}
.infor-avatar a{display: block; }
.infor-avatar img{display: block; width:90px; height: 90px; margin:10px auto 10px; border-radius: 50%; }
.infor-avatar .label-c{display: block; margin: 0px 5px; font-size: 1.4rem; text-align: center;}
.infor-con{padding-right: 10px;}
.infor-con .form-line label{width:5em; }
.infor-con .form-line input[type="text"]{padding-right: 0px; }
.infor-con .switch{margin-right: 0px; }
.infor-con .right-rq-icon{right:0px;}
.switch-bg.switch-sex > li:last-child{background-color:#f99292; }
/*-----------------------新增明细或成员-----------------------*/
.align-l{text-align: left !important;}
.txt-red{color: #ff4c5e;}
.txt-blue{color: #0f8add !important;}
.label-w-8 .form-line label{width:8em;}

.multi-add-wrap > ul{padding: 20px 10px 0px 0px;}
.multi-add-wrap > ul > li { position: relative; margin-bottom: 20px; padding-top: 10px; padding-bottom: 10px; padding-left: 10px; border: 1px dashed #0f8add; border-radius: 2px; background-color: rgba(245,248,250,0.7);}
.multi-add-wrap .label-con{margin-right: 0px;}
.multi-add-wrap .form-line{border-bottom: 0px; min-height: 36px;}
.multi-add-wrap .form-line label, .multi-add-wrap .form-line .label-con, .multi-add-wrap .form-v-unit{padding-top:8px; padding-bottom: 8px;}
.multi-add-wrap .form-line .label-con input{width:90%; float: right; background-color: transparent;  border: 0px;   border-radius: 0px;}
.add-multi-btn{display: block; margin-top: 20px;  margin-right: 10px; height:44px; line-height: 44px; color: #0f8add; border: 1px dashed #0f8add; text-align: center; border-radius: 2px; background-color: rgba(245,248,250,0.7);}
.add-multi-btn i{display: inline-block; margin-right: 10px; vertical-align: -2px; width:14px; height: 14px; background: url(../images/form-add.png) center center no-repeat; background-size: 100%; }
.mul-del{opacity: 0.7; display: block; position: absolute;top:-13px; right:-8px; width:40px; height:25px; background: url(../images/icon-del-img.png) top right no-repeat; background-size: 22px 22px; cursor: pointer;}
/*详情*/
/*.infor-card.infor-card-detail{overflow: auto; background: -webkit-gradient(linear, 0 0, 100% 0, from(#3099e0), to(#92c9e5));	background: -webkit-linear-gradient(to left, #3099e0, #71b6e5); background: -moz-linear-gradient(to left, #3099e0, #71b6e5);	background: -o-linear-gradient(to left, #3099e0, #71b6e5);	background: linear-gradient(to left, #3099e0, #71b6e5); box-shadow: 0px 10px 20px 0px rgba(15,138,221,0.25);}*/
.infor-card-detail{height: 90px; overflow: hidden; background: -webkit-gradient(linear, 0 0, 100% 0, from(#3099e0), to(#92c9e5));	background: -webkit-linear-gradient(to left, #3099e0, #71b6e5); background: -moz-linear-gradient(to left, #3099e0, #71b6e5);	background: -o-linear-gradient(to left, #3099e0, #71b6e5);	background: linear-gradient(to left, #3099e0, #71b6e5); box-shadow: 0px 10px 20px 0px rgba(15,138,221,0.3);}
.infor-card-detail .infor-avatar{width:90px;float: left;}
.infor-card-detail .infor-avatar img{margin-left: 15px; width:70px; height:70px;border:1px solid rgba(255,255,255,0.4); box-sizing: border-box;}
.infor-detail{text-align: right; color: #fff; }
.infor-card-detail .infor-con{margin-left: 90px; margin-right: 15px; padding-right: 0px;}
.infor-detail .infor-name{ font-size: 1.8rem; margin-top:15px; }
.infor-detail .infor-minor{direction: rtl; margin-top: 10px; color: rgba(255,255,255,0.8); line-height: 1; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.infor-detail .infor-minor > span{display: inline-block; padding: 0 15px 0px 12px;}
.infor-detail .infor-minor > span + span{border-right: 1px solid rgba(255,255,255,0.3);}
.infor-detail .infor-minor > span:first-child{padding-right: 0px; }
.label-con .value-txt{padding-right: 10px;}
/*组织选择模块*/
.org-box{ z-index:10; position:fixed; top:0px; width:100%; max-width:1024px;  padding-top: 10px;  height:44px;  background-color: #f5f5f5; box-shadow: 0px 1px 4px rgba(245,245,245,1);}
.org-class { background-color:#fff; height:44px; font-size:1.4rem; white-space:nowrap; overflow-y:hidden; overflow-x:auto; }
.org-class a { display:inline-block; color:#0f8add; padding:0px 15px 0px 10px; line-height:44px; max-width: 5em; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; background:url(../images/right-icon.png) right center no-repeat; background-size:7px;}
.org-class span { display:inline-block; padding:0px 10px;  line-height:44px; max-width: 7em;  white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
/*.org-right-icon { display:inline-block; width:7px; height:44px;  overflow:hidden; }*/
.opt-line { background-color:#fff; margin-top:10px; }
.opt-line li {  border-bottom:1px solid #ebebeb; position:relative; font-size: 1.6rem;}
.opt-line li:last-child { border-bottom:0px; }
.opt-line li a { display:block; color:#333; line-height:44px; }
.opt-line li .right-icon { display:block; position:absolute; top:0px; right:10px; width:7px; height:100%; background:url(../images/right-icon.png) center center no-repeat; background-size:7px; }
.opt-line li .check-icon { position:absolute; top:50%; margin-top:-10px; right:10px; width:20px; height:20px; }
.opt-line li.yes-opt .check-icon { background:url(../images/icon-selected.png) center center  no-repeat; background-size:100%;}
/*.all-sel .check-icon {display:inline-block; vertical-align:-4px; margin-right:10px; width:20px; height:20px; background:url(../images/common/icon_default.png) center center  no-repeat; background-size:100%; }*/
/*.all-sel.yes-opt .check-icon { background:url(../images/icon-selected.png) center center  no-repeat; background-size:100%;}*/
.icon-org-p { display: inline-block; width: 26px; height: 26px; border-radius: 50%; vertical-align:-7px; margin-right:10px;  background: url(../images/avatar.png) center center no-repeat; background-size:100%;  }
/*-------------------------评论----------------------------*/
.com-box {background-color: #fff; }
.com-box li{ padding:12px 0px 12px 10px; border-bottom: 1px solid #ebebeb; }
.com-box li:last-child{border-bottom: 0px; }
.com-box .l-img { float:left; width:35px; height:35px; margin-right:10px;}
.com-box .l-img img { display:block; width:100%; height:100%; border-radius:50%; }
.com-box .r-detail { margin-left:45px;}
.nic-line {margin-bottom:5px; }
.nic-name{ font-size:1.6rem; font-weight: bold; }
.com-data{color:#aaa; font-size: 1.3rem;}
.com-line { font-size:1.6rem;  padding-right: 10px; }
.com-del{position: absolute; top:0px; right:0px; padding: 8px 10px 10px 10px; }
.com-del .icon-del{display: block; width:15px; height: 15px; background: url(../images/icon-delete-gray.png) no-repeat; background-size: 100%; }

.footer-com { padding:10px 90px 10px 10px;  box-shadow:0px 0px 8px rgba(0,0,0,0.1); background-color:rgba(255,255,255,0.95); }
.footer-com .com-txt{ padding:0.5rem 1rem; background-color:#f5f5f5; border-radius:6px; box-sizing:border-box; }
.footer-com textarea {display:block; width:100%; height:1.5em; max-height:9rem; font-size:1.6rem; background-color:transparent;  -webkit-appearance: none; resize:none; }
/*.pub-com { position:absolute; top:50%; right:0px; padding-right:15px; margin-top:-1.2rem; color:#0f8add; font-size:1.6rem; }*/
.pub-com { position:absolute; top:50%; right:0px; margin-right: 10px; width:70px; height: 2.2em; margin-top:-1.1em; font-size:1.6rem; line-height:2.2em; }
.pub-com a{font-size: 1.6rem; display: block; height: 100%; padding: 0px 10px; border: 0px; border-radius: 6px; text-align: center; box-shadow: none; }

/* 悬浮按钮 */
a{-webkit-tap-highlight-color: transparent;}
.extend-btn{position: fixed; bottom: 15px; right: 0px;}
.extend-btn-list{height: 45px; padding: 0px 10px 0px 22.5px; border-radius: 22.5px 0px 0px 22.5px; background-image: -webkit-linear-gradient(-90deg, #2882dc 0%, #50a5fa 100%); background-image: -moz-linear-gradient(-90deg, #2882dc 0%, #50a5fa 100%); background-image: -o-linear-gradient(-90deg, #2882dc 0%, #50a5fa 100%); background-image: linear-gradient(-90deg, #2882dc 0%, #50a5fa 100%), linear-gradient(#50a5fa, #50a5fa); overflow: hidden; -webkit-box-shadow: 0px 6px 5px 0px rgba(76, 165, 255, 0.3); -moz-box-shadow: 0px 6px 5px 0px rgba(76, 165, 255, 0.3); box-shadow: 0px 6px 5px 0px rgba(76, 165, 255, 0.3);}
.extend-btn-list>li{height: 45px; min-width: 34px; float: left; padding: 0px 5px;}
i[class^="app-icon-extend-"]{display: block; width: 16px; height: 16px; margin: 6px auto 0px;}
.app-icon-extend-edit{background: url(../images/icon-extend-edit.png) no-repeat; background-size: 100%;}
.app-icon-extend-add{background: url(../images/icon-extend-add.png) no-repeat; background-size: 100%;}
.extend-btn-list>li>p{font-size: 12px; line-height: 1; color: #ffffff; margin-top: 5px; text-align: center;}

/* form2-AIXH */

.icon-li-add{
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(../images/icon-li-add.png) right center no-repeat;
    background-size: 100%;
    vertical-align: middle;
}
/*list*/
.add-event-li{
    border: 1px solid #ebebeb;
    background: #fff;
    margin: 10px 10px 10px 10px ;
}
.form-wrap .list-con {
    position: relative;
    overflow: auto;
    padding: 12px 10px 12px 10px;
}

.form-wrap .main-line {
    height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.6rem;
}
.i-state.blue {
    background: #30a5f4;
}
.i-state {
    display: inline-block;
    font-size: 1.1rem;
    color: #fff;
    vertical-align: 6px;
    padding: 1px 6px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin-right: 8px;
}
.form-wrap .main-line .name {
    font-weight: bold;
}
.form-wrap .main-line .name {
    vertical-align: -1px;
    display: inline-block;
    min-width: 3em;
    max-width: calc(100% - 3em);
    font-size: 1.6rem;
    color: #333;
    margin-right: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.form-wrap .main-line span {
    overflow: hidden;
}

.form-wrap .minor-line {
    color: #aaa;
    font-size: 1.3rem;
    padding-top: 2px;
}
.form-wrap .minor-line .paragraph {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
    line-height: 1.4;
    font-size: 1.4rem;
}

.form-wrap .minor-line p {
    color: #666;
}
.form-wrap .minor-line p {
    margin-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.2em;
}
.bd-ic-item {
    width: 50%;
    margin-bottom: 5px;
}
.bd-ic-item p {
    font-size: 1.2rem;
    line-height: 1.2;
    color: #999;
}
/*list*/
.suspension{
    position: fixed;
    z-index: 11;
    bottom: 74px;
    margin: 0px 10px;
    -webkit-box-shadow: 0px 2px 8px rgba(204,204,204,0.5);
    box-shadow: 0px 2px 8px rgba(204,204,204,0.5);
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
.add-event-li .del-file-img {
    position: absolute;
    top: -9px;
    right: -9px;
    height: 22px;
    width: 22px;
    max-height: 26px;
    max-width: 26px;
    z-index: 2;
    cursor: pointer;
    background: url(../images/icon-del-img.png) top center no-repeat;
    background-size: 100%;
}
/* form2-AIXH end*/
.mui-form .form-line input[type="text"]{margin-bottom:0px; border:0px;}
.mui-form .form-line .mui-a:after{content:""; position: absolute; right:15px; top:0px; width:7px; height: 100%; background: url(../images/right-icon.png) center center no-repeat; background-size: 100%;}





