<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.dcl.mybatis.persistence.voicePeople.VoicePeopleMapper">
	<resultMap id="BaseResultMap" type="cn.ffcs.dcl.mybatis.domain.voicePeople.VoicePeople">
		<id column="PEOPLE_ID" property="peopleId" jdbcType="DECIMAL" /> <!--主键-->
		<result column="NAME" property="name" jdbcType="VARCHAR" /> <!--名字-->
		<result column="SEX" property="sex" jdbcType="VARCHAR" /> <!--性别-->
		<result column="ADDRESS" property="address" jdbcType="VARCHAR" /> <!--地址-->
		<result column="TEL" property="tel" jdbcType="VARCHAR" /> <!--电话-->
		<result column="PEOPLE_TYPE" property="peopleType" jdbcType="VARCHAR" />
		<result column="ORG_CODE" property="orgCode" jdbcType="VARCHAR" /> <!--所属行政村编码-->
		<result column="UUID" property="uuid" jdbcType="VARCHAR" /> <!--UUID-->
		<result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" /> <!--所属行政村名称-->
		<result column="REMARK" property="remark" jdbcType="VARCHAR" /> <!--备注-->
		<result column="IS_VALID" property="isValid" jdbcType="VARCHAR" /> <!--是否有效-->
		<result column="CREATOR" property="creator" jdbcType="DECIMAL" /> <!--创建人-->
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" /> <!--创建时间-->
		<result column="UPDATOR" property="updator" jdbcType="DECIMAL" /> <!--修改人-->
		<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" /> <!--修改时间-->
	</resultMap>
		
	<!-- 列表（总数） -->	
	<select id="countList"  resultType="java.lang.Long">
		SELECT COUNT(1) FROM T_VOICE_PEOPLE T
		<include refid="find_where" />
	</select>
	
	<!-- 列表（分页） -->	
	<select id="searchList"  resultMap="BaseResultMap">
		SELECT
			T.PEOPLE_ID,
			T.NAME,
			T.SEX,
			T.ADDRESS,
			T.TEL,
			T.PEOPLE_TYPE,
			T.ORG_CODE,
			T.UUID,
			T.ORG_NAME,
			T.REMARK,
			T.IS_VALID,
			T.CREATOR,
			T.CREATE_TIME,
			T.UPDATOR,
			T.UPDATE_TIME
		FROM
			T_VOICE_PEOPLE T
		<include refid="find_where" />
		ORDER BY 
			T.UPDATE_TIME DESC
	</select>
	
	<!-- 列表（条件） -->	
	<sql id="find_where">
		<where>
			T.IS_VALID = '1'

			<if test="orgCode != null and orgCode != ''" >
				<![CDATA[ AND T.ORG_CODE LIKE #{orgCode,jdbcType=VARCHAR}||'%' ]]>
			</if>

			<if test="sex != null and sex != ''" >
				<![CDATA[ AND T.SEX = #{sex} ]]>
			</if>

			<if test="peopleType != null and peopleType != ''" >
				<![CDATA[ AND T.PEOPLE_TYPE = #{peopleType} ]]>
			</if>

			<if test="name != null and name != ''" >
				<![CDATA[ AND  T.NAME LIKE '%'|| #{name} ||'%' ]]>
			</if>

		</where>
	</sql>
	
	<!-- 新增 -->	
	<insert id="insert" parameterType="cn.ffcs.dcl.mybatis.domain.voicePeople.VoicePeople">
		<selectKey keyProperty="peopleId" resultType="long" order="BEFORE"> 
			SELECT SEQ_T_VOICE_PEOPLE.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO
			T_VOICE_PEOPLE
		(
			PEOPLE_ID,
			NAME,
			SEX,
			ADDRESS,
			TEL,
			PEOPLE_TYPE,
			ORG_CODE,
			UUID,
			ORG_NAME,
			REMARK,
			IS_VALID,
			CREATOR,
			CREATE_TIME,
			UPDATOR,
			UPDATE_TIME
		) VALUES (
			#{peopleId,jdbcType=DECIMAL},
			#{name,jdbcType=VARCHAR},
			#{sex,jdbcType=VARCHAR},
			#{address,jdbcType=VARCHAR},
			#{tel,jdbcType=VARCHAR},
			#{peopleType,jdbcType=VARCHAR},
			#{orgCode,jdbcType=VARCHAR},
			sys_guid(),
			#{orgName,jdbcType=VARCHAR},
			#{remark,jdbcType=VARCHAR},
			'1',
			#{creator,jdbcType=DECIMAL},
			sysdate,
			#{updator,jdbcType=DECIMAL},
			sysdate
		)
	</insert>
	
	<!-- 修改 -->	
	<update id="update" parameterType="cn.ffcs.dcl.mybatis.domain.voicePeople.VoicePeople">
		UPDATE
			T_VOICE_PEOPLE
		<set> 
			<if test="name != null " >
				NAME=#{name,jdbcType=VARCHAR},
			</if>
			<if test="sex != null " >
				SEX=#{sex,jdbcType=VARCHAR},
			</if>
			<if test="address != null " >
				ADDRESS=#{address,jdbcType=VARCHAR},
			</if>
			<if test="tel != null " >
				TEL=#{tel,jdbcType=VARCHAR},
			</if>
			<if test="peopleType != null " >
				PEOPLE_TYPE=#{peopleType,jdbcType=VARCHAR},
			</if>
			<if test="orgCode != null " >
				ORG_CODE=#{orgCode,jdbcType=VARCHAR},
			</if>
			<if test="uuid != null " >
				UUID=#{uuid,jdbcType=VARCHAR},
			</if>
			<if test="orgName != null " >
				ORG_NAME=#{orgName,jdbcType=VARCHAR},
			</if>
			<if test="remark != null " >
				REMARK=#{remark,jdbcType=VARCHAR},
			</if>
			<if test="isValid != null " >
				IS_VALID=#{isValid,jdbcType=VARCHAR},
			</if>
			<if test="updator != null " >
				UPDATOR=#{updator,jdbcType=DECIMAL},
			</if>
		 UPDATE_TIME = sysdate
		</set>
		WHERE
			UUID= #{uuid,jdbcType=VARCHAR}
	</update>
	
	<!-- 详情 -->	
	<select id="searchById" parameterType="long"  resultMap="BaseResultMap">
		SELECT
			T.PEOPLE_ID,
			T.NAME,
			T.SEX,
			T.ADDRESS,
			T.TEL,
			T.PEOPLE_TYPE,
			T.ORG_CODE,
			T.UUID,
			T.ORG_NAME,
			T.REMARK
		FROM
			T_VOICE_PEOPLE T
		WHERE
			PEOPLE_ID= #{peopleId,jdbcType=DECIMAL} 
	</select>

	<!-- 详情 -->
	<select id="searchByUUId" parameterType="String"  resultMap="BaseResultMap">
		SELECT
			T.PEOPLE_ID,
			T.NAME,
			T.SEX,
			T.ADDRESS,
			T.TEL,
			T.PEOPLE_TYPE,
			T.ORG_CODE,
			T.UUID,
			T.ORG_NAME,
			T.REMARK
		FROM
			T_VOICE_PEOPLE T
		WHERE
			UUID= #{uuid,jdbcType=VARCHAR}
	</select>


	<select id="searchByTel" parameterType="String"  resultMap="BaseResultMap">
		SELECT
			T.NAME ,rownum
		FROM
			T_VOICE_PEOPLE T
		WHERE
			TEL= #{tel,jdbcType=VARCHAR}
		  and	T.IS_VALID = '1'
		and  rownum &lt;2
	</select>


	<!-- 删除 -->	
	<delete id="delete" parameterType="cn.ffcs.dcl.mybatis.domain.voicePeople.VoicePeople">
		UPDATE
			T_VOICE_PEOPLE
		SET IS_VALID = '0', UPDATE_TIME = SYSDATE, UPDATOR = #{updator,jdbcType=DECIMAL}
		WHERE
			UUID= #{uuid,jdbcType=VARCHAR}
	</delete>
</mapper>