<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.dcl.mybatis.persistence.modularcontent.ModularContentMapper">
    <resultMap id="BaseResultMap" type="cn.ffcs.dcl.mybatis.domain.modularcontent.ModularContent">
        <id column="MODULAR_ID" property="modularId" jdbcType="DECIMAL"/> <!--主键-->
        <result column="UUID" property="uuid" jdbcType="VARCHAR"/> <!--UUID-->
        <result column="MODULAR_UU_ID" property="modularUuId" jdbcType="VARCHAR"/> <!--模块唯一标识-->
        <result column="NAME" property="name" jdbcType="VARCHAR"/> <!--内容名称-->
        <result column="SUBTITLE_NAME" property="subtitleName" jdbcType="VARCHAR"/> <!--副标题名称-->
        <result column="URL" property="url" jdbcType="VARCHAR"/> <!--链接地址-->
        <result column="SEQ" property="seq" jdbcType="DECIMAL"/> <!--排序-->
        <result column="IS_ENABLE" property="isEnable" jdbcType="VARCHAR"/> <!--是否启用-->
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/> <!--备注-->
        <result column="IS_VALID" property="isValid" jdbcType="VARCHAR"/> <!--是否有效-->
        <result column="CREATOR" property="creator" jdbcType="DECIMAL"/> <!--创建人-->

        <result column="THEMENAME" property="themeName" jdbcType="VARCHAR"/> <!--主题名称-->
        <result column="THEMEUUID" property="themeUuId" jdbcType="VARCHAR"/> <!--主题名称-->
        <result column="REGION_CODE" property="regionCode" jdbcType="VARCHAR"/> <!--区域编号-->
        <result column="REGION_NAME" property="regionName" jdbcType="VARCHAR"/> <!--区域名称-->
        <result column="modularName" property="modularName" jdbcType="DECIMAL"/> <!--模块名称-->
        <result column="TYPE" property="type" jdbcType="VARCHAR"/> <!--模块类型-->
        <result column="use_Type" property="useType" jdbcType="VARCHAR"/> <!--使用场景1：首页，2：党建引领，3：乡村治理，4：乡村特色，5：村务政务，6：科技惠农-->
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/> <!--创建时间-->
        <result column="UPDATOR" property="updator" jdbcType="DECIMAL"/> <!--修改人-->
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/> <!--修改时间-->
    </resultMap>

    <resultMap id="APPResultMap" type="cn.ffcs.dcl.mybatis.domain.dvtheme.DvTheme">
        <result column="THEMEUUID" property="uuid" jdbcType="VARCHAR"/> <!--UUID-->
        <result column="THEMENAME" property="name" jdbcType="VARCHAR"/> <!--主题名称-->
        <result column="PLATFORM" property="platform" jdbcType="VARCHAR"/> <!--使用平台-->
        <result column="REGION_CODE" property="regionCode" jdbcType="VARCHAR"/> <!--所属区域-->
        <result column="REGION_NAME" property="regionName" jdbcType="VARCHAR"/> <!--所属区域名称-->

        <collection property="dvModulars" ofType="cn.ffcs.dcl.mybatis.domain.dvmodular.DvModular"  >
            <result column="MODULAR_UU_ID" property="uuid" jdbcType="VARCHAR"/> <!--UUID-->
            <result column="modularName" property="name" jdbcType="VARCHAR"/> <!--模块名称-->
            <result column="TYPE" property="type" jdbcType="VARCHAR"/> <!--模块名称-->
            <result column="USE_TYPE" property="useType" jdbcType="VARCHAR"/> <!--模块名称-->
            <result column="MODULAR_SEQ" property="seq" jdbcType="VARCHAR"/> <!--模块名称-->

            <collection property="modularContents" ofType="cn.ffcs.dcl.mybatis.domain.modularcontent.ModularContent"  >
                <result column="UUID" property="uuid" jdbcType="VARCHAR"/> <!--UUID-->
                <result column="NAME" property="name" jdbcType="VARCHAR"/> <!--内容名称-->
                <result column="SUBTITLE_NAME" property="subtitleName" jdbcType="VARCHAR"/> <!--副标题名称-->
                <result column="URL" property="url" jdbcType="VARCHAR"/> <!--链接地址-->
                <result column="SEQ" property="seq" jdbcType="DECIMAL"/> <!--排序-->
            </collection>
        </collection>


    </resultMap>


    <!-- 列表（总数） -->
    <select id="countList" resultType="java.lang.Long">
        SELECT COUNT(1) FROM T_DV_MODULAR_CONTENT T
        INNER JOIN T_DV_MODULAR T2 ON T.MODULAR_UU_ID = T2.UUID
        INNER JOIN T_DV_THEME T3 on T3.UUID = T2.THEME_UU_ID
        <include refid="find_modular_theme_where"/>
    </select>

    <!-- 列表（分页） -->
    <select id="searchList" resultMap="BaseResultMap">
        SELECT
        T.UUID,
        T.MODULAR_UU_ID,
        T.NAME,
        T.SUBTITLE_NAME,
        T.URL,
        T.SEQ,
        T.IS_ENABLE,
        T3.NAME THEMENAME,
        T3.REGION_CODE ,
        T3.REGION_NAME ,
        T2.NAME modularName,
        T3.UUID THEMEUUID,
        T2.TYPE
        FROM
        T_DV_MODULAR_CONTENT T
        INNER JOIN T_DV_MODULAR T2 ON T.MODULAR_UU_ID = T2.UUID
        INNER JOIN T_DV_THEME T3 on T3.UUID = T2.THEME_UU_ID
        <include refid="find_modular_theme_where"/>
        ORDER BY
        T3.NAME ASC ,T2.USE_TYPE,T2.NAME ASC, T.SEQ ASC
    </select>

    <!-- 列表（总数） -->
    <select id="countListByconvenient" resultType="java.lang.Long">
        SELECT COUNT(1) FROM T_DV_MODULAR_CONTENT T
        INNER JOIN T_DV_MODULAR T2 ON T.MODULAR_UU_ID = T2.UUID
        INNER JOIN T_DV_THEME T3 on T3.UUID = T2.THEME_UU_ID
        <include refid="find_modular_theme_where_byconvenient"/>
    </select>

    <!-- 列表（分页） -->
    <select id="searchListByconvenient" resultMap="BaseResultMap">
        SELECT
        T.UUID,
        T.MODULAR_UU_ID,
        T.NAME,
        T.SUBTITLE_NAME,
        T.URL,
        T.SEQ,
        T.IS_ENABLE,
        T3.NAME THEMENAME,
        T3.REGION_CODE ,
        T3.REGION_NAME ,
        T2.NAME modularName,
        T3.UUID THEMEUUID,
        T2.TYPE
        FROM
        T_DV_MODULAR_CONTENT T
        INNER JOIN T_DV_MODULAR T2 ON T.MODULAR_UU_ID = T2.UUID
        INNER JOIN T_DV_THEME T3 on T3.UUID = T2.THEME_UU_ID
        <include refid="find_modular_theme_where_byconvenient"/>
        ORDER BY
        T3.NAME ASC ,T2.USE_TYPE,T2.NAME ASC, T.SEQ ASC
    </select>


    <!-- 列表（条件） -->
    <sql id="find_where">
        <where>
            T.IS_VALID = '1'
            <if test="uuid != null and uuid != '' ">
                <![CDATA[ AND T.UUID = #{uuid, jdbcType=VARCHAR} ]]>
            </if>

            <if test="modularUuId != null and modularUuId != ''">
                <![CDATA[ AND T.MODULAR_UU_ID = #{modularUuId,jdbcType=VARCHAR} ]]>
            </if>

            <if test="name != null and name != ''">
                <![CDATA[ AND T.NAME LIKE '%' || #{name,jdbcType=VARCHAR} || '%' ]]>
            </if>

            <if test="subtitleName != null and subtitleName != ''">
                <![CDATA[ AND T.SUBTITLE_NAME LIKE '%' || #{subtitleName,jdbcType=VARCHAR} || '%' ]]>
            </if>
        </where>
    </sql>

    <!-- 列表（条件） -->
    <sql id="find_modular_theme_where">
        <where>
            T.IS_VALID = '1' and T2.IS_VALID = '1' AND T3.IS_VALID = '1'
            <if test="uuid != null and uuid != '' ">
                <![CDATA[ AND T.UUID = #{uuid, jdbcType=VARCHAR} ]]>
            </if>

            <if test="modularUuId != null and modularUuId != ''">
                <![CDATA[ AND T.MODULAR_UU_ID = #{modularUuId,jdbcType=VARCHAR} ]]>
            </if>

            <if test="isEnable != null and isEnable != ''">
                <![CDATA[ AND T.IS_ENABLE = #{isEnable,jdbcType=VARCHAR}]]>
            </if>

            <if test="useType != null and useType != ''">
                <![CDATA[ AND T2.USE_TYPE = #{useType,jdbcType=VARCHAR}]]>
            </if>

            <if test="name != null and name != ''">
                <![CDATA[ AND T.NAME LIKE '%' || #{name,jdbcType=VARCHAR} || '%' ]]>
            </if>

            <if test="subtitleName != null and subtitleName != ''">
                <![CDATA[ AND T.SUBTITLE_NAME LIKE '%' || #{subtitleName,jdbcType=VARCHAR} || '%' ]]>
            </if>

            <if test="themeName != null and themeName != ''">
                <![CDATA[ AND T3.NAME LIKE '%' || #{themeName,jdbcType=VARCHAR} || '%' ]]>
            </if>

            <if test="regionCode != null and regionCode != ''">
                <![CDATA[ AND T3.REGION_CODE LIKE #{regionCode,jdbcType=VARCHAR} || '%' ]]>
            </if>

            <if test="modularName != null and modularName != ''">
                <![CDATA[ AND T2.NAME LIKE '%' ||  #{modularName,jdbcType=VARCHAR} || '%' ]]>
            </if>

        </where>
    </sql>

    <!-- 列表（条件） -->
    <sql id="find_modular_theme_where_byconvenient">
        <where>
            T.IS_VALID = '1' and T2.IS_VALID = '1' AND T3.IS_VALID = '1'
            <if test="uuid != null and uuid != '' ">
                <![CDATA[ AND T.UUID = #{uuid, jdbcType=VARCHAR} ]]>
            </if>

            <if test="modularUuId != null and modularUuId != ''">
                <![CDATA[ AND T.MODULAR_UU_ID = #{modularUuId,jdbcType=VARCHAR} ]]>
            </if>

            <if test="isEnable != null and isEnable != ''">
                <![CDATA[ AND T.IS_ENABLE = #{isEnable,jdbcType=VARCHAR}]]>
            </if>

            <if test="useType != null and useType != ''">
                <![CDATA[ AND T2.USE_TYPE = #{useType,jdbcType=VARCHAR}]]>
            </if>

            <if test="name != null and name != ''">
                <![CDATA[ AND T.NAME LIKE '%' || #{name,jdbcType=VARCHAR} || '%' ]]>
            </if>

            <if test="subtitleName != null and subtitleName != ''">
                <![CDATA[ AND T.SUBTITLE_NAME LIKE '%' || #{subtitleName,jdbcType=VARCHAR} || '%' ]]>
            </if>

            <if test="themeName != null and themeName != ''">
                <![CDATA[ AND T3.NAME LIKE '%' || #{themeName,jdbcType=VARCHAR} || '%' ]]>
            </if>

            <if test="regionCode != null and regionCode != ''">
                <![CDATA[ AND T3.REGION_CODE LIKE #{regionCode,jdbcType=VARCHAR} || '%' ]]>
            </if>

            <if test="modularName != null and modularName != ''">
                <![CDATA[ AND T2.NAME LIKE '%' ||  #{modularName,jdbcType=VARCHAR} || '%' ]]>
            </if>

        </where>
    </sql>

    <!-- 新增 -->
    <insert id="insert" parameterType="cn.ffcs.dcl.mybatis.domain.modularcontent.ModularContent">
        <selectKey keyProperty="modularId" resultType="long" order="BEFORE">
            SELECT SEQ_DV_MODULAR_CONTENT.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO
        T_DV_MODULAR_CONTENT
        (
        MODULAR_ID,
        UUID,
        MODULAR_UU_ID,
        NAME,
        SUBTITLE_NAME,
        URL,
        SEQ,
        IS_ENABLE,
        REMARK,
        IS_VALID,
        CREATOR,
        CREATE_TIME,
        UPDATOR,
        UPDATE_TIME
        ) VALUES (
        #{modularId,jdbcType=DECIMAL},
        #{uuid, jdbcType=VARCHAR},
        #{modularUuId,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR},
        #{subtitleName,jdbcType=VARCHAR},
        #{url,jdbcType=VARCHAR},
        #{seq,jdbcType=DECIMAL},
        #{isEnable,jdbcType=VARCHAR},
        #{remark,jdbcType=VARCHAR},
        1,
        #{creator,jdbcType=DECIMAL},
        sysdate,
        #{updator,jdbcType=DECIMAL},
        sysdate
        )
    </insert>

    <!-- 修改 -->
    <update id="update" parameterType="cn.ffcs.dcl.mybatis.domain.modularcontent.ModularContent">
        UPDATE
        T_DV_MODULAR_CONTENT
        <set>
            <if test="uuid != null ">
                UUID=#{uuid,jdbcType=VARCHAR},
            </if>
            <if test="modularUuId != null ">
                MODULAR_UU_ID=#{modularUuId,jdbcType=VARCHAR},
            </if>
            <if test="name != null ">
                NAME=#{name,jdbcType=VARCHAR},
            </if>
            <if test="subtitleName != null ">
                SUBTITLE_NAME=#{subtitleName,jdbcType=VARCHAR},
            </if>
            <if test="url != null ">
                URL=#{url,jdbcType=VARCHAR},
            </if>
            <if test="seq != null ">
                SEQ=#{seq,jdbcType=DECIMAL},
            </if>
            <if test="isEnable != null ">
                IS_ENABLE=#{isEnable,jdbcType=VARCHAR},
            </if>
            <if test="remark != null ">
                REMARK=#{remark,jdbcType=VARCHAR},
            </if>
            <if test="isValid != null ">
                IS_VALID=#{isValid,jdbcType=VARCHAR},
            </if>
            <if test="updator != null ">
                UPDATOR=#{updator,jdbcType=DECIMAL},
            </if>
            UPDATE_TIME = sysdate
        </set>
        WHERE
        UUID = #{uuid, jdbcType=VARCHAR}
    </update>


    <select id="searchByUuid" resultMap="BaseResultMap">
        SELECT
        T.MODULAR_ID,
        T.UUID,
        T.MODULAR_UU_ID,
        T.NAME,
        T.SUBTITLE_NAME,
        T.URL,
        T.SEQ,
        T.IS_ENABLE,
        T.REMARK,
        T.IS_VALID,
        T.CREATOR,
        T.CREATE_TIME,
        T.UPDATOR,
        T3.NAME THEMENAME,
        T3.REGION_CODE ,
        T3.REGION_NAME ,
        T2.NAME modularName,
        T.UPDATE_TIME,
        T3.UUID THEMEUUID,
        T2.TYPE
        FROM
        T_DV_MODULAR_CONTENT T
        INNER JOIN T_DV_MODULAR T2 ON T.MODULAR_UU_ID = T2.UUID
        INNER JOIN T_DV_THEME T3 on T3.UUID = T2.THEME_UU_ID
        WHERE
        T.UUID = #{uuid,jdbcType=VARCHAR}
    </select>

    <!-- 删除 -->
    <delete id="delete">
		UPDATE
			T_DV_MODULAR_CONTENT
		SET IS_VALID = '0' , UPDATE_TIME = SYSDATE, UPDATOR = #{updator,jdbcType=DECIMAL}
		where UUID = #{uuid,jdbcType=VARCHAR}
	</delete>
    <delete id="batchDelete">
        UPDATE
        T_DV_MODULAR_CONTENT
        SET IS_VALID = '0' , UPDATE_TIME = SYSDATE, UPDATOR = #{updator,jdbcType=DECIMAL}
        WHERE UUID IN
        <foreach collection="uuIdList" index="index" item="item" open="(" separator="," close=")">
            #{item, jdbcType=VARCHAR}
        </foreach>
    </delete>

    <!-- 获取唯一标识 -->
    <select id="getUuid" resultType="String">
		SELECT SYS_GUID() FROM DUAL
	</select>
    <select id="searchByParam" resultMap="BaseResultMap">
        <!-- 根据条件查询数据 -->
        SELECT
        T.MODULAR_ID,
        T.UUID,
        T.MODULAR_UU_ID,
        T.NAME,
        T.SUBTITLE_NAME,
        T.URL,
        T.SEQ,
        T.IS_ENABLE,
        T.REMARK,
        T.IS_VALID,
        T.CREATOR,
        T.CREATE_TIME,
        T.UPDATOR,
        T.UPDATE_TIME
        FROM
        T_DV_MODULAR_CONTENT T
        <include refid="find_where"/>
    </select>

    <!-- 列表（分页） -->
    <select id="searchListForAPP" resultMap="APPResultMap">
        SELECT
        T.UUID,
        T.MODULAR_UU_ID,
        T.NAME,
        T3.PLATFORM,
        T.SUBTITLE_NAME,
        T.URL,
        T.SEQ,
        T2.USE_TYPE,
        T2.SEQ MODULAR_SEQ,
        T.IS_ENABLE,
        T3.NAME THEMENAME,
        T3.REGION_CODE ,
        T3.REGION_NAME ,
        T2.NAME modularName,
        T3.UUID THEMEUUID,
        T2.TYPE
        FROM
        T_DV_MODULAR_CONTENT T
        INNER JOIN T_DV_MODULAR T2 ON T.MODULAR_UU_ID = T2.UUID
        INNER JOIN T_DV_THEME T3 on T3.UUID = T2.THEME_UU_ID
        <where>
            T.IS_VALID = '1' and T2.IS_VALID = '1' AND T3.IS_VALID = '1' AND T.IS_ENABLE = '1' AND T2.IS_ENABLE = '1'

            <if test="useType != null and useType != ''">
                <![CDATA[ AND T2.USE_TYPE = #{useType,jdbcType=VARCHAR}]]>
            </if>

            <if test="regionCode != null and regionCode != ''">
                <![CDATA[ AND T3.REGION_CODE = #{regionCode,jdbcType=VARCHAR} ]]>
            </if>

            <if test="type != null and type != ''">
                <![CDATA[ AND T2.TYPE = #{type,jdbcType=VARCHAR} ]]>
            </if>

            <if test="platform != null and platform != ''">
                <![CDATA[ AND T3.PLATFORM = #{platform,jdbcType=VARCHAR} ]]>
            </if>
        </where>
        ORDER BY
        T.SEQ ASC,T2.SEQ ASC
    </select>


</mapper>