<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.dcl.mybatis.persistence.dvcontract.DvContractMapper">
    <resultMap id="BaseResultMap" type="cn.ffcs.dcl.mybatis.domain.dvcontract.DvContract">
        <id column="CONTRACT_ID" property="contractId" jdbcType="DECIMAL"/> <!--主键ID-->
        <result column="UU_ID" property="uuid" jdbcType="VARCHAR"/> <!--唯一标识-->
        <result column="CONTRACT_NAME" property="contractName" jdbcType="VARCHAR"/> <!--合同名称-->
        <result column="CONTRACT_AMT" property="contractAmt" jdbcType="DECIMAL"/> <!--合同金额（元）-->
        <result column="PARTY_A" property="partyA" jdbcType="VARCHAR"/> <!--甲方名称-->
        <result column="PARTY_B" property="partyB" jdbcType="VARCHAR"/> <!--乙方名称-->
        <result column="ABSTRACT" property="desc" jdbcType="VARCHAR"/> <!--合同摘要-->
        <result column="PAYMENT_METHOD" property="paymentMethod" jdbcType="VARCHAR"/> <!--合同款项交纳方式-->
        <result column="START_TIME" property="startTime" jdbcType="TIMESTAMP"/> <!--开始日期-->
        <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP"/> <!--结束日期-->
        <result column="TIME_LIMIT" property="timeLimit" jdbcType="VARCHAR"/> <!--期限-->
        <result column="REGION_CODE" property="regionCode" jdbcType="VARCHAR"/> <!--所属区域-->
        <result column="REGION_NAME" property="regionName" jdbcType="VARCHAR"/> <!--所属区域名称-->
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 列表（总数） -->
    <select id="countList" resultType="java.lang.Long">
        SELECT COUNT(1)
        FROM T_DV_CONTRACT T
        <include refid="find_where"/>
    </select>




    <!-- 列表（分页） -->
    <select id="searchList" resultMap="BaseResultMap">
        SELECT
        T.UU_ID,
        T.CONTRACT_NAME,
        T.CONTRACT_AMT,
        T.START_TIME,
        T.END_TIME,
        T.REGION_CODE,
        T.REGION_NAME
        FROM T_DV_CONTRACT T
        <include refid="find_where"/>
        ORDER BY T.CONTRACT_ID DESC
    </select>


    <!-- 列表（条件） -->
    <sql id="find_where">
        <where>
            T.IS_VALID = '1'
            <if test=" uuid != null and uuid != ''">
                <![CDATA[ AND T.UU_ID = #{uuid, jdbcType=VARCHAR} ]]>
            </if>
            <if test=" contractName != null and contractName != '' ">
                <![CDATA[ AND T.CONTRACT_NAME LIKE '%'||#{contractName, jdbcType=VARCHAR}||'%' ]]>
            </if>
            <if test="endTime != null">
                <![CDATA[ AND T.END_TIME = #{endTime, jdbcType=TIMESTAMP} ]]>
            </if>
            <if test=" endTimeStr != null and endTimeStr != '' ">
                <![CDATA[ AND T.END_TIME = TO_DATE(#{endTimeStr,jdbcType=VARCHAR}, 'YYYY-MM-DD') ]]>
            </if>
            <if test="regionCode != null and regionCode != '' ">
                <![CDATA[ AND T.REGION_CODE LIKE #{regionCode, jdbcType=VARCHAR}||'%' ]]>
            </if>
            <if test=" timeStart != null and timeStart != '' ">
                <![CDATA[ AND T.START_TIME >= TO_DATE(#{timeStart,jdbcType=VARCHAR}, 'YYYY-MM-DD') ]]>
            </if>
            <if test=" timeEnd != null and timeEnd != '' ">
                <![CDATA[ AND T.START_TIME <= TO_DATE(#{timeEnd, jdbcType=VARCHAR}, 'YYYY-MM-DD') ]]>
            </if>

        </where>
    </sql>

    <select id="getUuid" resultType="String">
        SELECT SYS_GUID() FROM DUAL
    </select>

    <!-- 新增 -->
    <insert id="insert" parameterType="cn.ffcs.dcl.mybatis.domain.dvcontract.DvContract">
        <selectKey keyProperty="contractId" resultType="long" order="BEFORE">
            SELECT SEQ_DV_CONTRACT.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO T_DV_CONTRACT (
        CONTRACT_ID,
        UU_ID,
        CONTRACT_NAME,
        CONTRACT_AMT,
        PARTY_A,
        PARTY_B,
        ABSTRACT,
        PAYMENT_METHOD,
        START_TIME,
        END_TIME,
        TIME_LIMIT,
        REGION_CODE,
        REGION_NAME,
        IS_VALID,
        CREATOR,
        CREATE_TIME,
        UPDATOR,
        UPDATE_TIME,
        REMARK
        ) VALUES (
        #{contractId, jdbcType=DECIMAL},
        #{uuid, jdbcType=VARCHAR},
        #{contractName, jdbcType=VARCHAR},
        #{contractAmt, jdbcType=DECIMAL},
        #{partyA, jdbcType=VARCHAR},
        #{partyB, jdbcType=VARCHAR},
        #{desc, jdbcType=VARCHAR},
        #{paymentMethod, jdbcType=VARCHAR},
        #{startTime, jdbcType=TIMESTAMP},
        #{endTime, jdbcType=TIMESTAMP},
        #{timeLimit, jdbcType=VARCHAR},
        #{regionCode, jdbcType=VARCHAR},
        #{regionName, jdbcType=VARCHAR},
        1,
        #{creator, jdbcType=DECIMAL},
        SYSDATE,
        #{creator, jdbcType=DECIMAL},
        SYSDATE,
        #{remark, jdbcType=VARCHAR}
        )
    </insert>

    <!-- 修改 -->
    <update id="update" parameterType="cn.ffcs.dcl.mybatis.domain.dvcontract.DvContract">
        UPDATE T_DV_CONTRACT
        <set>
            <if test="contractName != null ">
                CONTRACT_NAME = #{contractName, jdbcType=VARCHAR},
            </if>
            <if test="contractAmt != null ">
                CONTRACT_AMT = #{contractAmt, jdbcType=DECIMAL},
            </if>
            <if test="partyA != null ">
                PARTY_A = #{partyA, jdbcType=VARCHAR},
            </if>
            <if test="partyB != null ">
                PARTY_B = #{partyB, jdbcType=VARCHAR},
            </if>
            <if test="desc != null ">
                ABSTRACT = #{desc, jdbcType=VARCHAR},
            </if>
            <if test="paymentMethod != null ">
                PAYMENT_METHOD = #{paymentMethod, jdbcType=VARCHAR},
            </if>
            <if test="startTime != null ">
                START_TIME = #{startTime, jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null ">
                END_TIME = #{endTime, jdbcType=TIMESTAMP},
            </if>
            <if test="timeLimit != null ">
                TIME_LIMIT = #{timeLimit, jdbcType=VARCHAR},
            </if>
            <if test="regionCode != null ">
                REGION_CODE = #{regionCode, jdbcType=VARCHAR},
            </if>
            <if test="regionName != null ">
                REGION_NAME = #{regionName, jdbcType=VARCHAR},
            </if>
            <if test="updator != null ">
                UPDATOR = #{updator, jdbcType=DECIMAL},
            </if>
            <if test="remark != null ">
                REMARK = #{remark, jdbcType=VARCHAR},
            </if>
            UPDATE_TIME = SYSDATE
        </set>
        WHERE UU_ID = #{uuid, jdbcType=VARCHAR}
    </update>

    <!-- 详情 -->
    <select id="searchByUuid" parameterType="String" resultMap="BaseResultMap">
		SELECT
			T.CONTRACT_ID,
			T.UU_ID,
			T.CONTRACT_NAME,
			T.CONTRACT_AMT,
			T.PARTY_A,
			T.PARTY_B,
			T.ABSTRACT,
			T.PAYMENT_METHOD,
			T.START_TIME,
			T.END_TIME,
			T.TIME_LIMIT,
			T.REGION_CODE,
			T.REGION_NAME,
            T.REMARK
		FROM T_DV_CONTRACT T
		WHERE T.UU_ID = #{uuid, jdbcType=VARCHAR} AND T.IS_VALID = '1'
	</select>

    <!-- 删除 -->
    <delete id="delete" parameterType="cn.ffcs.dcl.mybatis.domain.dvcontract.DvContract">
		UPDATE T_DV_CONTRACT
		SET IS_VALID = '0', UPDATE_TIME = SYSDATE, UPDATOR = #{updator, jdbcType=DECIMAL}
        WHERE UU_ID = #{uuid, jdbcType=VARCHAR}
	</delete>
</mapper>